<!-- About page for MF -->
<div class="container">
  <h1>About the Project</h1>
  <p id="aboutPara">This is a pilot and a work in progress. Transcription is being undertaken by a team from
    around the globe and will be updated as it is completed; the functionality of the site will
    develop gradually too. The digitization of the diaries of Michael Field is a scholarly
    community project, supported by a technical team led and funded by the University of South
    Carolina. We are a group of students, scholars, and professors, who range from experts in
    nineteenth-century literature to interested novices. There will be mistakes and there will be
    information missing in the transcription presented here. As a user of this resource you are
    part of our community; we welcome you, and we are pleased to offer this work-in- progress
    to you. It is, and always will be, openly accessible and free of charge. In return we ask you to
    help us improve it by emailing the volume leads with any corrections or relevant additional
    information you might have (see their names and contacts given in the ‘Project Team’
    section below). Thank you for visiting, and thank you for being part of the project.
  </p>
  <hr>

  <h4>Acknowledgment and Permissions:</h4>
  <p>All use of this site must be acknowledged in your citations. Add the following text to the end
    of your standard reference note and/or bibliographical entry: &quot;Accessed via [URL here]&quot;
  </p>

  <p>Copyright in the diaries is held by the Michael Field estate (Leonie Sturge-Moore and
    Charmian O&#39;Neil). The diaries are reproduced with kind permission of the Michael Field
    estate. The diaries have been digitized by the British Library in partnership with New York
    University, and the images are made online with permission of the Library.
  </p>

  <p>No permission is given for reproduction of these images outside of this site, and permission
    for use of the images (academic or otherwise) must be sought from the copyright holders.
  </p>
  <hr>

  <h4>Transciption Status:</h4>
  <p>The ‘transcription status’ bar featured on every page indicates the level of editorial review
    the transcription and editorial notes have received.<br>
    X = checked by the volume lead only<br>
    XX = checked by members of the editorial board<br>
    XXX = certified as complete
  </p>
  <hr>

  <h4>Transcription Conventions:</h4>
  <p>[E.C.] and [K.B.] are used at the head of the passage to indicate whether the passage is in the
    hand of Edith Cooper or Katharine Bradley. [T.S.M.] indicates the hand of Thomas Sturge
    Moore, the women’s literary executor and the first editor of the diaries.<br>
    Illegible Words:  [????]<br>
    Words about which the transcriber is unsure, so I think this word might be testimony:
    [testimony?]<br>

    Excisions, words crossed through: use the Word cross-out feature<br>
    Illegible words within an excision: use ???? to denote illegible words within an excision<br>
    [&lt;] and [&gt;] surround text added or inserted to an existing line by the authors
  </p>
  <hr>

  <h1>About Michael Field</h1>
  <p>The poets, dramatists, and diarists Katharine Bradley (1846-1914) and Edith Cooper (1862-
    1913) were not only aunt and niece, but also long-term partners who wrote collaboratively
    under the composite name ‘Michael Field’. Michael Field published prolifically—particularly
    collections of lyric poetry and historical verse-dramas—finding success with the early
    works in the 1880s, and winning new-found fame in recent times primarily with the poetry.
    However, perhaps their most fascinating document is the diary Bradley and Cooper co-
    wrote to record their lives and literary endeavors. Titled &quot;Works and Days,&quot; it primarily
    covers the years from 1888 to their deaths just prior to World War I. Intended for
    posthumous publication, their literary executor (Thomas Sturge Moore), published in 1933
    a vastly expurgated volume of extracts. Currently housed in the archives of the British
    Library, and untranscribed, the full manuscript diary has been relatively inaccessible to
    anyone other than the dedicated scholar. Yet it contains much to intrigue researchers and
    general readers alike. In addition to their own aesthetic response to events both
    contemporaneous and historically-resonant, it offers a powerful historical documentation of
    the construction of a queer identity through the formation of their aesthetic paganism, their
    conversion to Catholicism, and, finally, through the pathos of Cooper’s death. It also tells the
    narrative of their close, if often tempestuous, relationships with John Ruskin, Robert
    Browning, and Bernhard Berenson; and their chronicle of the cultural life of fin-de- siècle
    London and Europe, detailing encounters with the leading literary and artistic figures of the
    period, including Oscar Wilde, William Butler Yeats, Algernon Charles Swinburne, and
    Walter Pater. The writing is powerful, caustic, and witty; and sometimes intensely moving.
  </p>
  <hr>

  <h1>About the Project Team</h1>
  <h4><b>***UNDER CONSTRUCTION***</b></h4>

  <h4>Who has contributed what, so far:</h4>
  <hr>

  <!-- Left Column !-->
  <h4>Funders</h4>
  <p>The scanning of the complete diaries of Michael Field has been made possible by New York
    University and the British Library. The platform is hosted, built and digitally served by the
    Center for Digital Humanities at the University of South Carolina.
  </p>
  <hr>

  <h4>Direction, Design, and Co-Ordination</h4>
  <p>Marion Thain – direction, design, co-ordination of transcription, chair of the editorial board,
    fund-raising, Co-I (with Prof. Francis O’Gorman) on a Digital Humanities ‘Research
    Networking’ grant from the Arts and Humanities Research Council (U.K.) that helped launch
    this project, development of text-encoding strategies and tag set.<br>
    Colin F. Wilder – technical design, lead and co-ordination of the technical team, oversight of
    the platform build, and fund-raising.
  </p>
  <hr>

  <h4>Editorial Board</h4>
  <ul>
    <li>Marion Thain (New York University, U.S.A.; chair of Michael Field board)</li>
    <li>Ana Parejo Vadillo (Birkbeck College, University of London, U.K.)</li>
    <li>Sharon Bickle (University of Southern Queensland, Australia)</li>
    <li>Kirsty Bunting (Manchester Metropolitan University, U.K.)</li>
    <li>Stefano Evangelista (Trinity College, University of Oxford, U.K.)</li>
    <li>Regenia Gagnier (University of Exeter, U.K.)</li>
    <li>Emily Harrington (University of Colorado, Boulder, U.S.A.)</li>
    <li>Catherine Maxwell (Queen Mary, University of London, U.K.)</li>
    <li>Sarah Parker (University of Stirling, U.K.)</li>
    <li>Joanne Shattock (University of Leicester, U.K.)</li>
    <li>Martha Vicinus (University of Michigan, U.S.A.)</li>
  </ul>
  <hr>

  <!-- Right Column !-->
  <h4>Transcription and Editorial Work</h4>
  <p>1904: (first half) Bauer, Pearl Chaozon email: <a href="mailto:pcchaozonbauer@ucdavis.edu">pcchaozonbauer@ucdavis.edu</a>
  </p>
  <hr>

  <h4>Student Interns</h4>
  <p>Cherrie Kwok -- worked with Marion Thain on the early stages of experimenting
    with text-encoding practices and generating a core tag-set for the project.
  </p>
  <hr>

  <h4>Technical Team</h4>
  <ul>
    <li>Pierce Matthews</li>
    <li>Tyler Moon</li>
    <li>Lawton Mizell</li>
    <li>Jerrod Mathis</li>
    <li>Caleb Kitzmann</li>
  </ul>
  <hr>

  <h1>About the Technical Specifications</h1>
  <p>Technical specifications of the project</p>
  <hr>
</div>
