#content {
  margin: auto;
  width: 80%;
}

.volumeButton, .volumeLink {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.volumeButton::before {
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 16px;
  margin-right: 5px;
}

.volumeLink {
  border-bottom: 1px solid #000000;
}

.volumeButton:link, .volumeButton:visited {
  color: #c17953 !important;
}

.volumeButton:hover, .volumeButton:active, .volumeButton:focus {
  color: #a59657 !important;
}

.volumeLink:link, .volumeLink:visited {
  color: #21596F !important;
}

.volumeLink:hover, .volumeLink:active, .volumeLink:focus {
  color: #a59657 !important;
}

p {
  margin: 0;
}

