<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-lg-12 col-sm">
      <div class="row justify-content-end align-items-center">
        <app-search></app-search>
      </div>
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Browse by Date and/or Volume</h4>
      </div>
      <div class="row pt-2">
        <div class="col-sm-12 col-xl-6">
          <h6>The Carlyles in Scotland and in London<br />1812 to 1840</h6>
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1812"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1812"
          >
            Volumes 1 - 12
          </a>
          <div class="collapse" id="collapse1812">
            <div class="pl-2">
              <a
                routerLink="/volume/01/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 1: 1812 - 1821</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/02/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 2: 1822 - 1823</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/03/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 3: 1824 - 1825</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/04/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 4: 1826 - 1828</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/05/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 5: January 1829 - September 1831</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/06/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 6: October 1831 - September 1833</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/07/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 7: October 1833 - December 1834</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/08/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 8: January 1835 - June 1836</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/09/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 9: July 1836 - December 1837</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/10/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 10: 1838</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/11/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 11: 1839</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/12/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 12: 1840</a
              >
            </div>
          </div>
          <p>
            Ecclefechan / School Days / Edward Irving / Teacher and Tutor /
            Edinburgh / Courtship and Marriage / Craigenputtoch / Ralph Waldo
            Emerson / London / Leigh Hunt / John Stuart Mill / John Sterling /
            Robert Browning / Alfred Tennyson / Erasmus Darwin / Harriet
            Martineau / John Forster / Lectures on Literature, Revolution, and
            Heroes / Publication of <i>Elements of Geometry</i> (1822),
            <i>Wilhelm Meister</i> (1824), <i>Life of Schiller</i> (1825),
            <i>German Romance</i> (1827), “Burns” (1828), “Signs of the Times”
            (1829), “On History” (1830), “Characteristics” (1831),
            <i>Sartor Resartus</i> (1833–34), <i>French Revolution</i> (1837),
            <i>Essays</i> (1838), and <i>Chartism</i> (1839)
          </p>
          <br />
          <h6>Success and Security<br />1841 to 1850</h6>
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1841"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1841"
          >
            Volumes 13 - 25
          </a>
          <div class="collapse" id="collapse1841">
            <div class="pl-2">
              <a
                routerLink="/volume/13/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 13: 1841</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/14/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 14: January 1842 - July 1842</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/15/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 15: August 1842 - December 1842</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/16/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 16: January 1843 - July 1843</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/17/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 17: August 1843 - March 1844</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/18/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 18: April 1844 - December 1844</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/19/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 19: January 1845 - September 1845</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/20/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 20: October 1845 - July 1846</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/21/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 21: August 1846 - June 1847</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/22/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 22: July 1847 - March 1848</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/23/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 23: April 1848 - March 1849</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/24/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 24: April 1849 - December 1849</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/25/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 25: 1850</a
              >
            </div>
          </div>
          <p>
            Samuel Laurence’s Portraits / Geraldine Jewsbury / Death of JWC’s
            Mother / Death of Sterling / William Makepeace Thackeray / Corn Laws
            / Charles Gavan Duffy / Journeys to Ireland and to Germany /
            International Copyright Law / John Ruskin / Lord and Lady Ashburton
            / Edward FitzGerald / Squire forgeries / R. M. Milnes / Giuseppe
            Mazzini / Emerson’s second visit / Joseph Neuberg / Louis Blanc /
            JWC’s screen / Margaret Fuller / John Tyndall / Publication of
            <i>Heroes and Hero-Worship</i> (1841),
            <i>Past and Present</i> (1843),
            <i>Oliver Cromwell’s Letters and Speeches</i> (1845), “The Negro
            Question” (1849), and <i>Latter-Day Pamphlets</i> (1850)
          </p>
          <br />
        </div>
        <div class="col-sm-12 col-xl-6">
          <h6>
            The "Valley of the Shadow of Frederick"<br />1851 to November 1862
          </h6>
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1851"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1851"
          >
            Volumes 26 - 38
          </a>
          <div class="collapse" id="collapse1851">
            <div class="pl-2">
              <a
                routerLink="/volume/26/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 26: 1851</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/27/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 27: 1852</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/28/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 28: 1853</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/29/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 29: January 1854 - June 1855</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/30/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 30: July 1855 - December 1855 <br />with Jane Welsh
                Carlyle Miscellaneous Writings</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/31/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 31: January 1856 - September 1856</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/32/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 32: October 1856 - July 1857</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/33/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 33: August 1857 - June 1858</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/34/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 34: July 1858 - December 1858</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/35/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 35: January 1859 - October 1859</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/36/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 36: November 1859 - September 1860</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/37/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 37: October 1860 - October 1861</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/38/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 38: November 1861 - November 1862</a
              >
            </div>
          </div>
          <p>
            Woolner’s Medallion / Crystal Palace / The Grange / Death of
            Wellington / Journeys to Paris and Germany / Sickness and Health /
            Garrett Study / John Ricardo / Holidays in Scotland / Death of TC’s
            Mother / American Investments / Crimean War / JWC’s “BUDGET of a
            Femme Incomprise” / “The Guises” / Alexander and Anne Gilchrist /
            Death of Lady Ashburton / Indian Mutiny / Tait’s
            <i>A Chelsea Interior</i> / Louisa Lady Ashburton / George Eliot /
            Ford Madox Ford’s <i>Work</i> / Death of Nero / Charlotte Cushman /
            American Civil War / Publication of <i>Life of Sterling</i> (1851),
            <i>Collected Works</i> (1857–58), and <i>Frederick</i>, Volumes 1–3
            (1858, 1862)
          </p>
          <br />
          <h6>"We shall go to them"<br />December 1862 to February 1881</h6>
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1862"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1862"
          >
            Volumes 39 - 46
          </a>
          <div class="collapse" id="collapse1862">
            <div class="pl-2">
              <a
                routerLink="/volume/39/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 39: December 1862 - December 1863</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/40/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 40: January 1864 - August 1864</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/41/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 41: September 1864 - April 1865</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/42/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 42: May 1865 - September 1865</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/43/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 43: October 1865 - June 1866</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/44/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 44: July 1866 - June 1867</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/45/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 45: July 1867 - December 1868</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/46/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 46: January 1869 - April 1870</a
              >
            </div>
          </div>
          <p>
            Readings by Dickens / Moncure Conway / JWC’s Failing Health / Death
            of Thackeray / “Valley of the shadow of blue pill” / Lord Houghton /
            Margaret Oliphant / Death of Lord Ashburton / Publication of “Ilias
            (Americana) in Nuce” (1863) and
            <i>Frederick</i>, Volumes 4–6 (1864, 1865) / Death of JWC, 21 April
            1866 / Eyre Defence Committee / Visit to Menton / Quarrels with Ruskin / Photos by Cameron / Shooting Niagara (1867) / the Watts portrait / work on the Library Edition
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
