<div class="container-fluid d-flex flex-row justify-content-between align-items-center" id="footer_wrapper">
  <div class="d-flex flex-column align-items-center" id="footer">
    <div class="d-flex flex-row" id="footer_links">
      <a href="http://www.dukejournals.org/">DukeJournals.org</a><span>|</span>
      <a href="http://dukejournals.org/misc/ind_terms.dtl">Policies</a><span>|</span>
      <a href="http://tundra.csd.sc.edu/clo/contact_us">Contact Us</a>
    </div>
    <p>&copy; 2016 Duke University Press</p>
  </div>
  <div class="d-flex flex-row align-items-center" id="footer_logos">
    <a href="http://www.dukeupress.edu/">
      <img src="../../assets/duke_logo.gif" alt="Duke University Press" border="0">
    </a>
    <a href="https://sc.edu/about/centers/digital_humanities/">
      <img src="../../assets/cdh-logo.png" alt="Center for Digital Humanities" border="0" style="background-color: #000000;padding: 2px;">
    </a>
  </div>
</div>
