<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <!-- Header -->
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Copyright and Permissions</h4>
      </div>

    <!-- Content -->
    <div class="d-flex flex-row justify-content-start pt-2">
      <div class="d-flex flex-column justify-content-start align-items-start pt-2 w-75">
        <!-- Copyright Information -->
        <h6>Copyright and Permission for Re-Use</h6>
          <p>
            The content of the <i>Carlyle Letters Online (CLO)</i> is made available to the public free of charge
            (“open access”) via a collaboration of Duke University Press and the University of South Carolina
            Center for Digital Humanities that is supported by generous funding from the National Endowment
            for the Humanities. When quoting from the letters, please cite the CLO as your source publication.
            Please see further details below. 
          </p>

        <!-- The Letters -->
        <h6>The Letters: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a></h6>
          <p>
            The physical letters of Thomas and Jane Welsh Carlyle are held in many different archives, libraries,
            and collections in the United Kingdom and the United States. While the letters are old enough to be
            considered in the Public Domain, the transcribed, edited, annotated, and proofread versions presented
            in the <i>Carlyle Letters Online</i> are under copyright and published by Duke University Press.
            The printed volumes of the Duke-Edinburgh edition of <i>The Collected Letters of Thomas and Jane Welsh Carlyle</i>
            are available for purchase from the <a href="https://www.dukeupress.edu/the-collected-letters-of-thomas-and-jane-welsh-carlyle">Press</a>.
          </p>

          <p>
            For editorial protocols and styles for citing online publications such as the CLO, see the appropriate guidelines, e.g.,
            the latest editions of <i>The Chicago Manual of Style</i> or <i>The MLA Handbook</i>.
          </p>

          <p>
            You may re-use and re-publish excerpts and groups of letters without permission if your use falls within
            the scope of the CC BY-NC-ND license, or the boundaries of fair use. As you weigh the four factors as laid
            out by the U.S. Copyright Office to determine fair use, do keep in mind that each a letter is a separate “work.”
          </p>

          <p>
            For all other uses, you should request permission from Duke University Press. To request permission to re-use letters,
            write to <a href="mailto:permissions@dukeupress.edu">permissions@dukeupress.edu</a>. 
          </p>

        <!-- Manuscript Letter Images -->
        <h6>Manuscript Letter Images: <a href="https://creativecommons.org/publicdomain/mark/1.0/">CC PD</a></h6>
          <p>
            The Rubenstein Rare Book and Manuscript Library, Duke University, holds the letter images that appear in the <i>CLO</i>.
            The Library has released the images to the Public Domain. You may re-use and re-print them free of charge and without
            requesting permission, though it is appropriate to cite their source.
          </p>

          <p>
            For editorial protocols and styles for citing online publications such as the CLO, see the appropriate guidelines, e.g.,
            the latest editions of <i>The Chicago Manual of Style</i> or <i>The MLA Handbook</i>.
          </p>

        <!-- Photographs -->
        <h6>Photographs</h6>
          <p>
            The Columbia University Library has made the photographs from the Carlyle family photograph albums available to the <i>CLO</i>
            for scholarly purposes. If you wish to publish or reproduce materials in the photograph albums, please see
            <a href="https://library.columbia.edu/services/preservation/publications_policy.html">Columbia University Libraries Publication & Digital Reproduction Policy and Procedures</a>.
            For commercial use, please see
            <a href="https://library.columbia.edu/services/preservation/commercial_reproduction_policy.html">Publication and Digital Reproduction for Commercial and Other Purposes, and for Large-scale Initiatives</a>.​ 
          </p>
      </div>
    </div>
  </div>
</div>
</div>