<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-lg-12 col-sm">
      <div class="row justify-content-end align-items-center">
        <app-search></app-search>
      </div>
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Browse by Date</h4>
      </div>
      <div class="row pt-2">
        <div class="col-sm-12 col-xl-6">
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1820"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1820"
          >
            1820 - 1830
          </a>
          <div class="collapse" id="collapse1820">
            <div class="pl-2">
              <a
                routerLink="/volume/01/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 1: 1812 - 1821</a
              >
            </div>
            <div class="pl-2">
              <p>Volume 3</p>
            </div>
          </div>
          <br />
          </div>

          <div class="col-sm-12 col-xl-6">
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1830"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1830"
          >
            1830 - 1840
          </a>
          <div class="collapse" id="collapse1830">
            <div class="pl-2">
              <a
                routerLink="/volume/13/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 13: 1841</a
              >
            </div>
            <div class="pl-2">
              <p>Volume 3</p>
            </div>
          </div>
          <br />
        </div>

        <div class="col-sm-12 col-xl-6">
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1840"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1840"
          >
            1840 - 1850
          </a>
          <div class="collapse" id="collapse1840">
            <div class="pl-2">
              <p>Volume 3</p>
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/14/frontispiece"
                routerLinkActive="active"
                class="volumeLink"
                >Volume 14: January 1842 - July 1842</a
              >
            </div>
          </div>
          <br />
          </div>

          <div class="col-sm-12 col-xl-6">
            <a
              class="btn btn-link p-0 volumeButton"
              data-toggle="collapse"
              href="#collapse1850"
              role="button"
              aria-expanded="false"
              aria-controls="collapse1850"
            >
              1850 - 1860
            </a>
            <div class="collapse" id="collapse1850">
              <div class="pl-2">
                <a
                  routerLink="/volume/14/frontispiece"
                  routerLinkActive="active"
                  class="volumeLink"
                  >Volume 14: January 1842 - July 1842</a
                >
              </div>
              <div class="pl-2">
                <p>Volume 3</p>
              </div>
            </div>
            <br />
          </div>

          <div class="col-sm-12 col-xl-6">
            <a
              class="btn btn-link p-0 volumeButton"
              data-toggle="collapse"
              href="#collapse1860"
              role="button"
              aria-expanded="false"
              aria-controls="collapse1860"
            >
              1860 - 1870
            </a>
            <div class="collapse" id="collapse1860">
              <div class="pl-2">
                <a
                  routerLink="/volume/14/frontispiece"
                  routerLinkActive="active"
                  class="volumeLink"
                  >Volume 14: January 1842 - July 1842</a
                >
              </div>
              <div class="pl-2">
                <p>Volume 3</p>
              </div>
            </div>
            <br />
          </div>

          <div class="col-sm-12 col-xl-6">
            <a
              class="btn btn-link p-0 volumeButton"
              data-toggle="collapse"
              href="#collapse1870"
              role="button"
              aria-expanded="false"
              aria-controls="collapse1870"
            >
              1870 - 1881
            </a>
            <div class="collapse" id="collapse1870">
              <div class="pl-2">
                <a
                  routerLink="/volume/14/frontispiece"
                  routerLinkActive="active"
                  class="volumeLink"
                  >Volume 14: January 1842 - July 1842</a
                >
              </div>
              <div class="pl-2">
                <p>Volume 3</p>
              </div>
            </div>
            <br />
          </div>

        </div>
      </div>
    </div>
</div>
