<div class="container" id="content">
  <div class="row justify-content-start">
    <div>

      <div class="row justify-content-end align-items-center">
        <app-search></app-search>
      </div>

      <div class="d-flex flex-container justify-content-start pt-2">

        <div class="about-text">
        <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>The Rubenstein Carlyle Collection</h4>
        <br>
        <br>
        <p><a class="links" href="https://repository.duke.edu/dc/carlylethomas">The Thomas and Jane Welsh Carlyle Papers</a> is a
          digital archive of “Correspondence, fragments, and notes”
          created from manuscript materials now held at the <a class="links" href="https://library.duke.edu/rubenstein/">
          David M. Rubenstein Rare Book & Manuscript Library</a>,
          Duke University. Although some of the these documents have been published in both the <i>Collected Letters</i>
          and the <i>Carlyle Letters Online</i>, many of them have not. Users of the CLO
          are able for the first time to interact with both the holograph images and the edited transcriptions
          of this remarkable archive. </p>
        <br>
        </div>

          <div class="row pt-2 pb-2 orange-border-bottom">
          <div class="col-sm-12 col-xl-6">
          <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1812"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1812"
          >
            1812 - 1840
          </a>
          <div class="collapse" id="collapse1812">
            <div class="pl-2">
              <a
                routerLink="/volume/01/lt-18200702-TC-JOFE-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to John Ferguson, 2 July 1820</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/03/lt-18240920-TC-JTA-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to John Taylor, 20 September 1824</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/03/lt-18251015-TC-BM-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Basil Montagu, 15 October 1825</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/04/lt-18260221-TC-JAC-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to John A. Carlyle, 21 February 1826</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/04/lt-18260530-TC-JAC-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to John A. Carlyle, 30 May 1826</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/04/lt-18260620-TC-TM-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Thomas Murray, 20 June 1826</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/04/lt-18270507-JWC-ADBM-01"
                routerLinkActive="active"
                class="volumeLink"
                >JWC to Anna D.B. Montagu, 7 May 1827</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/04/lt-18270902-JWC-ADBM-01"
                routerLinkActive="active"
                class="volumeLink"
                >JWC to Anna D.B. Montagu, 2 September 1827</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/06/lt-18320918-TC-RJ-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Robert Jeffrey of Girthon, 18 September 1832</a
              >
            </div>
            <div class="pl-2">
              <p>TC to Margaret Scott, 10 April 1838 [not yet pbd.]</p>
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/11/lt-18391209-TC-JFR-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to James Fraser, 9 December 1839</a
              >
            </div>
            <div class="pl-2">
              <p>Richard Monckton Milnes to John Mitchell Kemble, 6 February 1840 [not yet pbd.]</p>
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/12/lt-18401208-TC-CG-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Catherine Gore, 8 December 1840</a
              >
            </div>
          </div>
          <br />

            <a
            class="btn btn-link p-0 volumeButton"
            data-toggle="collapse"
            href="#collapse1841"
            role="button"
            aria-expanded="false"
            aria-controls="collapse1841"
          >
            1841 - 1850
            </a>
            <div class="collapse" id="collapse1841">

            <div class="pl-2">
              <a
                routerLink="/volume/13/lt-18410429-TC-JWC-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to JWC, 29 April 1841</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/14/lt-18420509-TC-APR-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Archibald Prentice, 9 May 1842</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/15/lt-18421007-JWC-ABJ-01"
                routerLinkActive="active"
                class="volumeLink"
                >JWC to Anna Brownell Jameson, 7 October 1842</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/15/lt-18421024-JWC-ABJ-01"
                routerLinkActive="active"
                class="volumeLink"
                >JWC to Anna Brownell Jameson, 24 October 1842</a
              >
            </div>
            <div class="pl-2">
              <p>TC to [Alexander John] Scott, 13 April 1843 [not yet pbd.]</p>
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/16/lt-18430519-TC-BM-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Basil Montagu, 19 May 1843</a
              >
            </div>
            <div class="pl-2">
              <p>TC to James Anthony Froude, 8 June 1843 [not yet pbd.]</p>
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/17/lt-18431002-TC-BWP-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to B.W. Procter, 2 October 1843</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/18/lt-18440421-TC-LM-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Lord Mahon, 21 April 1844</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/18/lt-18440425-TC-BWP-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to B.W. Procter, 25 April 1844</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/17/lt-18440326-TC-WHA-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to [William Hall], 26 March 1844</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/19/lt-18450108-TC-EC-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to [Edward Chapman?], 17 January 1845</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/19/lt-18450509-TC-EFL-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Eliza Fletcher, 9 May 1845</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/20/lt-18460617-JWC-ABJ-01"
                routerLinkActive="active"
                class="volumeLink"
                >JWC to Anna Brownell Jameson, 17 June 1846</a
              >
            </div>
            <div class="pl-2">
              <p>TC to UC, 23 October 1845 [not yet pbd.]</p>
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/20/lt-18451204-JWC-ABJ-01"
                routerLinkActive="active"
                class="volumeLink"
                >JWC to Anna Brownell Jameson, 4 December 1845</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/21/lt-18470413-TC-JK-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to John Kenyon, 13 April 1847</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/22/lt-18471122-TC-WH-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to William Hanna, 22 November 1847</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/23/lt-18480516-TC-HM-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Henry M'Cormac, 16 May 1848</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/23/lt-18480614-TC-SL-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Samuel Laurence, 14 June 1848</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/23/lt-18481014-TC-JSS-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to John Stores Smith, 14 October 1848</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/24/lt-18490810-TC-JWC-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to JWC, 10 August 1849</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/24/lt-18490625-TC-WEF-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to W.E. Forster, 25 June 1849</a
              >
            </div>
            <div class="pl-2">
              <p>TC to Charlotte Williams Wynn, 27 November 1849 [not yet pbd.]</p>
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/25/lt-18500227-TC-WM-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to [William Maccall?], 27 February 1850</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/25/lt-18500301-TC-CK-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to Charles Kingsley, 1 March 1850</a
              >
            </div>
            <div class="pl-2">
              <a
                routerLink="/volume/25/lt-18500823-TC-GJ-01"
                routerLinkActive="active"
                class="volumeLink"
                >TC to George Johnston, 23 August 1850</a
              >
            </div>
            <div class="pl-2">
              <p>TC to UC, 6 December 1850 [not yet pbd.]</p>
            </div>
            </div>
            <br />

            <a
              class="btn btn-link p-0 volumeButton"
              data-toggle="collapse"
              href="#collapse1851"
              role="button"
              aria-expanded="false"
              aria-controls="collapse1851"
            >
              1851 - 1862
            </a>
            <div class="collapse" id="collapse1851">
              <div class="pl-2">
                <a
                  routerLink="/volume/26/lt-18510610-TC-TWO-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Thomas Woolner, 10 June 1851</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/27/lt-18520105-TC-TE-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Thomas Erskine, 5 January 1852</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/27/lt-18520329-TC-HL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Henry Larkin, 29 March 1852</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/27/lt-18520826-TC-JWP-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to J.W. Parker, 16 August 1852</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/27/lt-18520904-TC-JWC-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to JWC, 4 September 1852</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/27/lt-18520913-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 13 September 1852</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/28/lt-18530509-TC-RO-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Richard Owen, 9 May 1853</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/28/lt-18530618-TC-AH-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Arthur Helps, 18 June 1853</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/28/lt-18531030-TC-ABL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Anna Blackwell, 30 October 1853</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/29/lt-18550627-TC-JAC-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to John A. Carlyle, 27 June 1855</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/30/lt-18551110-TC-AAM-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to [Alicia A. Moore], 10 November 1855</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/32/lt-18561214-TC-HL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Henry Larkin, 14 December 1856</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/32/lt-18570529-TC-JA-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to James Aitken, 29 May 1857</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/33/lt-18571220-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 20 December 1857</a
                >
              </div>
              <div class="pl-2">
                <p>JWC to Lady Stanley, 1857 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/34/lt-18581023-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, late October 1858</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/34/lt-18581011-TC-JBA-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to James Ballantine, 11 October 1858</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/34/lt-18581122-TC-JBA-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to James Ballantine, 22 November 1858</a
                >
              </div>
              <div class="pl-2">
                <p>TC to UC, 1 February 1859 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/35/lt-18590325-TC-HL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Henry Larkin, 26 [25] March 1859</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Chapman and Hall, 10 July 1859 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to Henry Larkin, 25 August 1859 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/35/lt-18590918-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 18 September 1859</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/36/lt-18591110-JWC-AGIL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Anne Gilchrist, 10 November 1859</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Henry Larkin, 24 December 1859 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/35/lt-18590101-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 1859?</a
                >
              </div>
              <div class="pl-2">
                <p>Ralph Waldo Emerson to TC, 25 April 1860 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/36/lt-18600727-TC-RF-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Robert Farie, 27 July 1860</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/36/lt-18600809-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 8 August 1860</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/36/lt-18600820-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 20 August 1860</a
                >
              </div>
              <div class="pl-2">
                <p>JWC to Lady Stanley, September 1860 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to Thomas Erskine, 4 September 1860 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/36/lt-18600830-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 30 August 1860</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/38/lt-18611225-JWC-ACH-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Ann Chamberlayne, 25 December 1861</a
                >
              </div>
              <div class="pl-2">
                <p>TC to UC, 6 May 1861 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/38/lt-18620101-TC-HL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Henry Larkin, 1 January 1862</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/38/lt-18620821-JWC-MCH-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Maria Chamberlayne, 21 August 1862</a
                >
              </div>
              <div class="pl-2">
                <p>JWC to Henrietta Stanley, 20 September 1862 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/38/lt-18620923-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 23 September 1862</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/38/lt-18620925-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 25 September 1862</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/38/lt-18621101-TC-RH-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Robert Harrison, 1 November 1862</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/39/lt-18621223-TC-UC-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to UC, 23 December 1862</a
                >
              </div>
            </div>
            <br />

          </div>

          <div class="col-sm-12 col-xl-6">
            <a
              class="btn btn-link p-0 volumeButton"
              data-toggle="collapse"
              href="#collapse1862"
              role="button"
              aria-expanded="false"
              aria-controls="collapse1862"
            >
              1862 - 1881
            </a>
            <div class="collapse" id="collapse1862">
              <div class="pl-2">
                <a
                  routerLink="/volume/39/lt-18630131-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, late January 1863</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/39/lt-18630720-TC-HAC-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Messrs Hutchinson, Wine Merchants, 20 July 1863</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Moncure Conway, 20 August 1863 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/39/lt-18630922-JWC-MCH-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Maria Chamberlayne, 23 [22] September 1863</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/40/lt-18640619-TC-HL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Henry Larkin, 19 June 1864</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Henry Larkin, 29 August 1864 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/41/lt-18650104-JWC-MC-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Maria Chamberlayne, 4 January 1865</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/41/lt-18650413-TC-HL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Henry Larkin, 13 April 1865</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/42/lt-18650704-TC-EWA-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Eliza Warren, 4 July 1865</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Eliza Warren, 4 July 1865 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/42/lt-18650729-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 29 July 1865</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/42/lt-18650821-TC-EWA-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Eliza Warren, 21 August 1865</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/43/lt-18651209-JWC-LST-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >JWC to Lady Stanley, 9 December 1865</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/43/lt-18660123-TC-WHD-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to W.H. Doeg, 23 January 1866</a
                >
              </div>
              <div class="pl-2">
                <p>TC, Pass to His Rector's Installation Address, 26 March 1866 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/44/lt-18660702-TC-WM-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to William Maccall, 2 July 1866</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Frederick Chapman, 2 July 1866 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/44/lt-18660910-TC-JRT-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to John Reuben Thompson, 10 September 1866</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Sarah Warren, 26 December 1866 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/44/lt-18670121-TC-SWA-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Sarah Warren, 21 January 1867</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Marianne Alford, 25 October 1867 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to Marianne Alford, 28 October 1867 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to Sarah Warren, 28 March 1868 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/45/lt-18671031-TC-LAL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Lady Alford, 31 October 1867</a
                >
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/45/lt-18671204-TC-LAL-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to Lady Alford, 4 December 1867</a
                >
              </div>
              <div class="pl-2">
                <p>TC to UC, 9 December 1869 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <a
                  routerLink="/volume/45/lt-18680710-TC-JDOW-01"
                  routerLinkActive="active"
                  class="volumeLink"
                  >TC to James Dowie, 10 July 1868</a
                >
              </div>
              <div class="pl-2">
                <p>TC to Sarah Warren, 10 September 1868 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to Sarah Warren, 17 September 1868 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to Frederic Chapman, 22 September 1868 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to F. Fisher, Esq, 2 March 1869 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to Joseph Edgar Boehm, 4 November 1874 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to UC, 4 August 1875 [not yet pbd.]</p>
              </div>
              <div class="pl-2">
                <p>TC to C.H. Hart, 21 December 1875 [not yet pbd.]</p>
              </div>
            </div>
            <br />

            <a
              class="btn btn-link p-0 volumeButton"
              data-toggle="collapse"
              href="#miscellaneous"
              role="button"
              aria-expanded="false"
              aria-controls="miscellaneous"
            >
              Miscellaneous/Undated
            </a>
            <div class="collapse" id="miscellaneous">
              <div class="pl-2">
                <p>John Forrester to UC, 5 September 1893</p>
              </div>
              <div class="pl-2">
                <p>David A. Wilson to Dr. Murray, 15 April 1922</p>
              </div>
              <div class="pl-2">
                <p>Alexander Carlyle to Mr. Catford, 13 November 1927</p>
              </div>
              <div class="pl-2">
                <p>Walter S. Landor to TC</p>
              </div>
              <div class="pl-2">
                <p>TC to Jean Carlyle Aitken</p>
              </div>
              <div class="pl-2">
                <p>TC to Sarah Warren</p>
              </div>
              <div class="pl-2">
                <p>TC to Henry Larkin</p>
              </div>
              <div class="pl-2">
                <p>JWC to Mrs. Marsh</p>
              </div>
              <div class="pl-2">
                <p>TC to UC</p>
              </div>
              <div class="pl-2">
                <p>Joseph Mazzini to UC</p>
              </div>
              <div class="pl-2">
                <p>Notes from TC to Henry Larkin</p>
              </div>
              <div class="pl-2">
                <p>MS fragments (2) from Frederick the Great</p>
              </div>
              <div class="pl-2">
                <p>MS fragment from Shooting Niagara (1867)</p>
              </div>
              <div class="pl-2">
                <p>MS fragment from Shooting Niagara</p>
              </div>
              <div class="pl-2">
                <p>MS fragment from Shooting Niagara</p>
              </div>
              <div class="pl-2">
                <p>MS fragment from Shooting Niagara</p>
              </div>
              <div class="pl-2">
                <p>MS fragment from Shooting Niagara</p>
              </div>
              <div class="pl-2">
                <p>Photograph of TC's attic study at 5 Cheyne Row</p>
              </div>
            </div>
            <br />
          </div>
          </div>

          <div class="row image-row mt-3 mb-3 ml-3">
            <img class="col-md-4" src="../../assets/rubenstein-page/carlyle.jpg">
            <img class="col-md-4" src="../../assets/rubenstein-page/nero.jpg">
            <img class="col-md-4" src="../../assets/rubenstein-page/JWC.jpg">
          </div>

          <p>These three details from Robert Scott Tait’s painting A Chelsea Interior (1857).
            Tait’s method, which included preliminary photographs of the scene taken with his
            “malodourous Photographing Apparatus,” and his constant “fluffing  about”
            (<a class="sidelinks" routerLink="/volume/32/lt-18570726-TC-JWC-01">TC to JWC, 26 July 1857</a>) was
            an unsurprising source of irritation for the Carlyles.  In the details, Thomas is
            depicted standing in front of his drawing-room fireplace loading his pipe. He was
            an inveterate smoker, and Jane sometimes made him lie on his back in order to blow
            his smoke up the flue in an attempt to save the house from being enveloped in a
            tobacco haze. Jane sits pensively at her table looking upon her devoted and beloved
            Nero, who sits on the couch watching his master. The table and the couch are now
            joined by the painting, which hangs above their piano, in the drawing room of their home at Cheyne Row, London.
          </p>

        </div>


        <!-- <div class="about-image justify-content-end align-items-center d-flex flex-column">
        <p class="sidedescription">These three details from Robert Scott Tait’s painting A Chelsea Interior (1857).
          Tait’s method, which included preliminary photographs of the scene taken with his
          “malodourous Photographing Apparatus,” and his constant “fluffing  about”
          (<a class="sidelinks" routerLink="/volume/32/lt-18570726-TC-JWC-01">TC to JWC, 26 July 1857</a>) was
          an unsurprising source of irritation for the Carlyles.  In the details, Thomas is
          depicted standing in front of his drawing-room fireplace loading his pipe. He was
          an inveterate smoker, and Jane sometimes made him lie on his back in order to blow
          his smoke up the flue in an attempt to save the house from being enveloped in a
          tobacco haze. Jane sits pensively at her table looking upon her devoted and beloved
          Nero, who sits on the couch watching his master. The table and the couch are now
          joined by the painting, which hangs above their piano, in the drawing room of their home at Cheyne Row, London.
        </p>
        <img id="about-image" src="../../assets/rubenstein-page/carlyle.jpg">
        <img id="about-image" src="../../assets/rubenstein-page/JWC.jpg">
        <img id="about-image" src="../../assets/rubenstein-page/nero.jpg">

        </div> -->
      </div>

    </div>
  </div>
</div>
