<table>
  <tr>
    <td class = "col1">
      <div *ngIf ="router.url === '/volume/04/lt-18260620-TC-TM-01'">
      <div class="viewerContainer" *ngIf="viewContent">
        <div
          class="fronticeViewer"
          [innerHtml]="viewContent"
          *ngIf="isFrontice"
        ></div>
        <div
          class="volumeViewer"
          id="volumeViewer"
          [innerHtml]="img"
          *ngIf="!isFrontice"
        ></div>
      </div>
    </div>
    </td>


    <td class = "col2">
      <div class="transcriptionContainer" *ngIf="viewContent">
        <div class="letter-navigation" *ngIf="prevLetter || nextLetter">
          <a id="prev" (click)="letterCycled(prevLetter)" *ngIf="prevLetter">< PREVIOUS</a>
          <a id="next" (click)="letterCycled(nextLetter)" *ngIf="nextLetter">NEXT ></a>
        </div>
        <div
          class="fronticeViewer"
          [innerHtml]="viewContent"
          *ngIf="isFrontice"
        ></div>
        <div
          class="volumeViewer"
          id="volumeViewer"
          [innerHtml]="viewContent"
          *ngIf="!isFrontice"
        ></div>
      
        <div class="sourceNote" *ngIf="sourceNote">
          <a
            class="drop"
            data-toggle="collapse"
            href="#sourceNoteContent"
            aria-expanded="false"
            aria-controls="sourceNoteContent"
          >
            Sourcenote
          </a>
        </div>
        <div
          class="collapse"
          id="sourceNoteContent"
          *ngIf="sourceNote"
          [innerHtml]="sourceNote"
        ></div>
      
        <div class="footnotes" *ngIf="footnotes.length > 0">
          <a class="drop" id="footnotesCollapse" data-toggle="collapse" href="#footnotesContent" aria-expanded="false" aria-controls="footnotesContent">
            Footnotes
          </a>
        </div>
        <div class="collapse" id="footnotesContent" *ngIf="footnotes.length > 0">
          <div *ngFor="let footnote of footnotes; index as i">
            <p>
              <a class="footnoteId" id="FN{{ i + 1 }}" routerLink="./" fragment="FN{{ i+1 }}_REF">{{ i + 1 }}</a>
              <span [innerHtml]="footnote"></span>
            </p>
          </div>
        </div>
        <div class="letter-navigation" *ngIf="prevLetter || nextLetter">
          <a id="prev" (click)="letterCycled(prevLetter)" *ngIf="prevLetter">< PREVIOUS</a>
          <a id="next" (click)="letterCycled(nextLetter)" *ngIf="nextLetter">NEXT ></a>
        </div>
      </div>
    </td>
  </tr>
</table>
