<div class="box flex" *ngIf="album">
  <div class="orange-border-bottom" *ngIf="album._id > 0">
    <h2>Album: {{ album._id }}</h2>
  </div>
  <div class="orange-border-bottom" *ngIf="album._id === 0">
    <h2>Frontispieces</h2>
  </div>
</div>


<div *ngIf="album">
  <div class="box flex">
    <div class="row imageGrid">
      <div *ngFor="let image of _albums; let i=index" class="grid">
        <div class="imagebox">
          <div class="innerimagebox">
            <div *ngIf="album._id > 0" class="tooltiptext">{{image.title}}</div>
            <div *ngIf="album._id === 0 && i>=9" routerLink="/volume/{{i+1}}/frontispiece" class="tooltiptext">Frontispieces, Volume {{i+1}}</div>
            <div *ngIf="album._id === 0 && i<9" routerLink="/volume/0{{i+1}}/frontispiece" class="tooltiptext">Frontispieces, Volume {{i+1}}</div>
              <img [src]="image.src" routerLink="/photo-viewer/{{album._id}}/{{i}}">
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
