.box.flex {
  display: flex;
  padding-top: 25px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.imageGrid {
  background: #F5ECDC;
  border: 1px solid #21596f;
  border-radius: 10px;
  height: calc(100vh - 300px);
  justify-content: center;
  overflow: auto;
  width: 75%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 200px;
  padding: 5px;
  width: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.orange-border-bottom {
  border-bottom-color: rgb(193, 117, 35);
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  font-size: 17px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 50%;
}
