<div *ngIf="volume">
  <div class="d-flex flex-column justify-content-start align-items-start" id="tocBox">
    <!-- Volume Information -->
    <div class="w-100 orange-border-bottom" id="volInfo">
      <span class="pl-2">Volume {{ volumeId }}</span>
      <br>
      <span class="pl-2">{{ volume.volume_dates }}</span>
    </div>
    <!-- END Volume Information -->
    <!-- Volume Navigation -->
    <div class="d-flex flex-row align-items-center w-100" id="volNav" *ngIf="prevId || nextId">
      <a class="mr-auto" *ngIf="prevId">PREV VOLUME</a>
      <a class="ml-auto" *ngIf="nextId">NEXT VOLUME</a>
    </div>
    <!-- END Volume Navigation -->
    <!-- Volume TOC -->
    <div class="d-flex align-items-center w-100" id="tocItem" *ngFor="let k of tocKeys">
      <a class="pl-2">{{ k.toUpperCase() }}</a>
    </div>
    <!-- END Volume TOC -->
  </div>
</div>
