<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <!-- Header -->
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Technical Team</h4>
        <app-search></app-search>
      </div>

      <!-- Content -->
      <div class="about-header">
        <h5>The Center for Digital Humanities - University of South Carolina</h5>
      </div>
      <div class="d-flex flex-row justify-content-start pt-2">
        <!-- First Column: Current Team Members -->
        <div class="d-flex flex-column justify-content-start align-items-start pt-2 w-50">
          <h5>Current Team Members</h5>
          <h6>Project Director</h6>
          <p>Colin Wilder</p>

          <h6>Project Manager</h6>
          <p>Helen Kampmann Marodin</p>

          <h6>Developers</h6>
          <p>Caleb Kitzmann</p>

          <p>Tyron Schultz</p>

          <p>Stella Masucci</p>

          <p>Mitchell Lambert</p>

          <h6>System Administrators</h6>
          <p>Dan Rochester</p>
        </div>
        <!-- Second Column: Past Team Members -->
        <div class="d-flex flex-column justify-content-start align-items-start p-2 w-50">
          <h5>Past Team Members</h5>
          <p>Ian McDowell - Developer</p>

          <p>Jerrod Mathis - Developer</p>

          <p>Zachery Stump - System Administrator</p>

          <p>Kenneth Johnson - System Administrator</p>

          <p>Joshua Nelson - System Administrator</p>

          <p>Tyler Moon - System Administrator</p>

          <p>Pierce Matthews - Developer</p>

          <p>Lawton Mizell - Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>