<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <!-- Header -->
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Technical Team</h4>
      </div>

      <!-- Content -->
      <div class="about-header">
        <h5>The Center for Digital Humanities - University of South Carolina</h5>
      </div>
      <div class="d-flex flex-row justify-content-start pt-2">
        <!-- First Column: Current Team Members -->
        <div class="d-flex flex-column justify-content-start align-items-start pt-2 w-60">
          <h5 class="orange-border-bottom">Current Team Members</h5>
          <div class="d-flex flex-row justify-content-start align-items-start">
            <div class="column" id="team-members">
              <h6>Project Director</h6>
              <img id="portrait" src="../../../assets/about-page/wilder_image.jpg" alt="Colin Wilder Portrait">
              <p style="font-weight: bold;">Colin Wilder</p>
            </div>
  
            <div class="column" id="team-members">
              <h6>Project Manager</h6>
              <img id="portrait" src="../../../assets/about-page/helen_image.jpg" alt="Helen Kampmann Marodin Portrait">
              <p style="font-weight: bold;">Helen Kampmann Marodin</p>
            </div>
          </div>

          <h6>Developers</h6>
          <div class="d-flex flex-row justify-content-start align-items-start">
            <div class="column" id="team-members">
              <img id="portrait" src="../../../assets/about-page/colin_image.jpg" alt="Colin Anderson Portrait">
              <p style="font-weight: bold;">Colin Anderson</p>
            </div>
            <div class="column" id="team-members">
              <img id="portrait" src="../../../assets/about-page/tyron_image.png" alt="Tyron Schultz Portrait">
              <p style="font-weight: bold;">Tyron Schultz</p>
            </div>
            <div class="column" id="team-members">
              <img id="portrait" src="../../../assets/about-page/stella_image.jpg" alt="Stella Masucci Portrait">
              <p style="font-weight: bold;">Stella Masucci</p>
            </div>
            <div class="column" id="team-members">
              <img id="portrait" src="../../../assets/about-page/mitchell_image.png" alt="Mitchell Lambert Portrait">
              <p style="font-weight: bold;">Mitchell Lambert</p>
            </div>
          </div>

          <h6>System Administrators</h6>
          <img id="portrait" src="../../../assets/about-page/dan_image.png" alt="Dan Rochester Portrait">
          <p style="font-weight: bold;">Dan Rochester</p>
        </div>
        <!-- Second Column: Past Team Members -->
        <div class="d-flex flex-column justify-content-start align-items-start p-2 w-40" id="past-members">
          <h5 class="orange-border-bottom">Past Team Members</h5>
          <p>Ian McDowell - Developer</p>

          <p>Jerrod Mathis - Developer</p>

          <p>Zachery Stump - System Administrator</p>

          <p>Kenneth Johnson - System Administrator</p>

          <p>Joshua Nelson - System Administrator</p>

          <p>Morgan Lundy - Project Manager</p>

          <p>Tyler Moon - System Administrator</p>

          <p>Pierce Matthews - Developer</p>

          <p>Lawton Mizell - Developer</p>

          <p>Rachel Mann - Project Manager</p>

          <p>Eric Gonzalez - Developer</p>

          <p>Travis Mullen - Developer</p>

          <p>Caleb Kitzmann - Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
