<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <!-- Header -->
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Editorial Methods</h4>
        <app-search></app-search>
      </div>

    <!-- Content -->
    <div class="d-flex flex-row justify-content-start pt-2">
      <div class="d-flex flex-column justify-content-start align-items-start pt-2 w-75">
        <!-- Editorial Philosophy -->
        <p>
          The Carlyle Letters Project is one that both benefits and suffers from
          multiple editorial layers. Beginning with the Carlyles themselves,
          through the various collectors of the letters, through the various
          editors of those letters, and through the first fifty years of the
          Duke-Edinburgh edition, editorial conventions and objectives have
          inevitably changed.
        </p>

        <p>
          For instance, in citations of Shakespeare and Milton, users will note
          inconsistencies in format across volumes. Editors of the early
          volumes, following the established conventions of that time, used
          Roman numerals to indicate acts and books. In later volumes, editors
          used Arabic numerals to denote acts and books, a convention that
          remains in place. This shift represents not editorial inconsistency
          but the changing of conventions over time.
        </p>

        <p>
          As necessary corrections and additions are made to the <i>CLO</i>, a
          primary goal of the editorial approach will be to create as much
          consistency as possible across the volumes while recognizing that as
          the coordinating editor endeavors to accomplish this task, editorial
          conventions and the capabilities available to the <i>CLO</i> will
          continue to evolve, which will in turn necessitate changes in the
          editorial approach.
        </p>

        <p>
          Rather than a fatal editorial problem that dooms their future,
          however, the instability of electronic editions will also allow
          the correction of textual inaccuracies, the inclusion of newly
          discovered letters in their appropriate locations, connection with
          other electronic resources as they become available, and the expansion
          of the scope and functionality of the resource as technologies
          develop. From this perspective, an apparent weakness becomes a great strength of digital
          collections such as the <i>CLO</i>, their infinite capacity for extensible evolution.
        </p>

        <p>B.E.K.</p>

        <!-- Encoding and Proofreading -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#encoding"
            role="button"
            aria-expanded="false"
            aria-controls="encoding"
          >Encoding and Proofreading</a>

        <div class="collapse" id="encoding">
          <p>
            The <i>CLO</i> has been designed and encoded in XML in order to
            conform fully to the guidelines set forth by the Text Encoding
            Initiative Consortium (TEI;
            <a href="http://www.tei-c.org/">www.tei-c.org</a>). Each document has
            been assigned a registered DOI to establish the means for future
            connectivity and to ensure the sustainability of the project.
          </p>
  
          <p>
            The encoding guidelines for the original <i>CLO</i> were developed in
            2001 by Paolo Mangiafico, Perkins Library, Duke University; David
            Southern, managing editor of the
            <i>The Collected Letters of Thomas and Jane Welsh Carlyle</i>, Duke
            University Press; and Brent E. Kinser, at the time an editorial
            assistant for the project. The initial encoding of the first
            thirty-two volumes was completed by DNC Data Systems of Mumbai, India
            (<a href="http://www.dncdata.com/index.html">www.dncdata.com</a>). The
            first twenty-seven volumes were keyboarded into digital form using a
            double-entry validation system. Volumes 28&#8211;32 were encoded from
            extant, electronic typesetting files.
          </p>
  
          <p>
            All of the volumes then underwent a thorough two-phased process of
            proofreading under the direction of the coordinating editor to correct
            errors both in transcription from the print edition and in the XML
            encoding of the data. For more detailed histories of the print and
            electronic editions, follow the links in the <i>CLO</i> footer.
          </p>
  
          <p>
            For the new version of <i>CLO</i> the encoded volumes have been
            updated from TEI P2 to TEI P5, the most recent version available.
          </p>
        </div>

        <!-- Past Editorial Procedures -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#pastProcedures"
            role="button"
            aria-expanded="false"
            aria-controls="pastProcedures"
          >Past Editorial Procedures</a>

        <div class="collapse" id="pastProcedures">
          <p>
            Arguably, the most useful justification of editorial process in the
            print edition occurs in Charles Richard Sanders&#8217;s article
            &#8220;A Brief History of the
            <i>Duke-Edinburgh Edition of the Carlyle Letters</i>&#8221;,
            <i>Studies in Scottish Literature</i> 17 (1982): 1&#8211;12. Sanders
            discusses the collection of the letters (Sanders requested and
            received thousands of facsimiles from libraries around the world) and
            the method by which they were organized and stored at Duke:
          </p>
  
          <p>
            All the facsimiles and even references to the letters not yet found
            are listed on 4x6 cards, a card for each letter. . . . We also put on
            the card all that we know about the letter: where the original letter
            is if we have found it, where it had been printed if it has, whether
            or not there are omissions in the printed text, whether we have the
            letter on microfilm or in a facsimile, and a topical analysis of
            particularly interesting details in the letter. These cards, filed in
            chronological order, our guide to all the Carlyle letters that we know
            about in the world, are kept in a fire-proof filing cabinet.
            (9&#8211;10)
          </p>
  
          <p>
            Although much has changed since Sanders wrote this description in
            1982, this filing cabinet (no longer fire-proof) remains at the
            Carlyle Letters Office at Duke University Press, and it also remains a
            treasured and valuable resource for the current editors. In his
            article Sanders also discusses the process of editing the letters:
          </p>
  
          <p>
            The editorial process with each letter begins at Duke, where the
            master file is kept. After a typewritten transcript with a carbon copy
            has been made, the transcript is carefully proofread against the
            facsimile. It is then ready for the Duke editor to write draft notes.
            . . . From time to time collections of the carbon copies are sent to
            the editors in Edinburgh. There the text of the letter is carefully
            read against the original manuscript of the letter if it is in
            Edinburgh. The editors then work through the draft-note sheets
            carefully, altering, adding, and answering queries so far as possible.
            The notes are then re-typed and returned to Duke with the carbon
            copies of the text and the draft notes. After the Duke editors have
            gone through the notes one more time, they are sent to Duke University
            Press, where Mrs. Joanne Ferguson, Mrs. Myrna Jackson, and sometimes
            other copy-editors work with the text and notes before they are ready
            for the printer. (10)
          </p>
  
          <p>
            According to Sanders, the editors would then reread the typeset text
            in galley proof to check for errors and to add as much new material as
            possible before the beginning of the production phase. Then, as now,
            new letters and insights were being discovered too late for proper
            chronological placement in the print volumes.
          </p>
  
          <p>
            One of the great editorial advantages of the <i>CLO</i> is that newly
            discovered materials no longer suffer from being &#8220;too
            late&#8221;; they can now appear in their proper chronological place. This
            change has brought new vigor and relevancy to the editors&#8217;
            search for misplaced and unknown letters and manuscripts of the
            Carlyles.
          </p>
        </div>

        <!-- Present Editorial Procedures -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#presentProcedures"
            role="button"
            aria-expanded="false"
            aria-controls="presentProcedures"
          >Present Editorial Procedures</a>

        <div class="collapse" id="presentProcedures">
          <p>
            In substance, the editorial process outlined by Sanders remains in
            place today, and the editors still routinely check the typescripts of
            the letters against the original manuscripts whenever possible. With
            the passing of time, however, the order of the processes has shifted.
          </p>
  
          <p>
            The American editors, working from the typescripts already checked
            multiple times according to the process outlined by Sanders, now write
            preliminary draft-notes that are checked and completed by the editors
            in Edinburgh.
          </p>
  
          <p>
            The Edinburgh editors then also recheck the typescripts against
            manuscript or facsimile versions (the letters retain their form in
            typescript in order to prevent the introduction of new errors) and
            submit them to Duke University Press, along with the electronic files
            of the notes and the editorial apparatus.
          </p>
  
          <p>
            Duke University Press directs the copyediting of the letters, after
            which they are sent to the Edinburgh editors for penultimate review
            and then to the typesetters for electronic typesetting and printing.
          </p>
  
          <p>
            The American and the Edinburgh editors are then given the opportunity
            to suggest changes and to correct errors at the proof stage, with the
            Edinburgh editors directing the final steps to publication. The entire
            process for each volume takes approximately three years.
          </p>
        </div>

        <!-- Correction and Revision History -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#history"
            role="button"
            aria-expanded="false"
            aria-controls="history"
          >Correction and Revision History</a>

        <div class="collapse" id="history">
          <p>
            Although the source text for the <i>CLO</i> is the
            <i>Collected Letters</i>, the electronic version does not represent an
            attempt simply to re-create the print edition. Because of the
            exigencies of digital searching, for example, silent corrections have
            been made to incorrect references to other letters and texts in the
            <i>Collected Letters</i>. Similarly, typographical mistakes clearly
            not made by the Carlyles, such as missing periods or quotation marks
            in footnotes, have also been corrected silently.
          </p>
  
          <p>
            Other changes to the print edition are documented at the end of the
            &#8220;Sourcenote&#8221; in square brackets, as in the case of the
            letters published too late for chronological placement in the print
            edition that have been moved in the <i>CLO</i> to their correct date
            position.
          </p>
          <p>
            Whenever a change is made to the original text of the print edition,
            those revisions are retained in the raw XML files through the use of
            wrappers that are not displayed and in XML comments.
          </p>
  
          <p>
            Letters that have been superseded and removed from the collection are identified in the sourcenote of the new version, but users must rely upon the print edition at this stage if they wish to view this superseded material. An example is TC
            to JAC, 30 May 1826, a letter that was initially published in volume 4
            from a published version and in volume 7 from a more definitive
            manuscript transcription. The definitive manuscript version has been moved to volume 4, its proper place in the
            chronology of the letters, but unfortunately, at this time the version it superseded is no longer available in the <i>CLO</i>.
          </p>
  
        </div>

        <!-- Ambiguous Dates -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#ambiguousDates"
            role="button"
            aria-expanded="false"
            aria-controls="ambiguousDates"
          >Ambiguous Dates</a>

        <div class="collapse" id="ambiguousDates">
          <p>
            The primary organizational principle of the <i>CLO</i> is the date of
            composition. Every letter is supplied with an XML tag, docDate, which
            contains the regularizing attribute, &#8220;value.&#8221; For example,
            docDate value="1856-04-30" identifies 30 April 1856. The letters of
            the collection are ordered by means of the docDate value.
          </p>
  
          <p>
            When the Carlyles do not provide an exact date and when the editors
            are unable to postulate an exact date via context, docDate has been
            assigned a value of &#8220;00&#8221; in the month and/or date
            position, docDate value="1856-04-00" identifies late April 1856.
            Without benefit of human intuition, the database system automatically
            reads &#8220;00&#8221; as &#8220;01&#8221;; the computer, therefore,
            reads and orders late April incorrectly as 1 April.
          </p>
  
          <p>
            To maintain the sequence established by the editors of the <i>CL</i>,
            all letters that contain a docDate month and/or day value of 00 that
            causes incorrect ordering have been assigned exact document dates.
            These assignments are noted in square brackets at the end of the
            &#8220;Sourcenote.&#8221;
          </p>
        </div>

        <!-- A Note on the Text -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#noteOnText"
            role="button"
            aria-expanded="false"
            aria-controls="noteOnText"
          >A Note on the Text</a>
        
        <div class="collapse" id="noteOnText">
          <p>
            The textual notes that began to appear with volume 19 of the print
            edition as &#8220;A Note on the Text&#8221; outline philosophical
            justifications for editorial procedures in the print volumes and
            continue to evolve over time as conventions change. Because they
            direct the editorial approach to the copy text for the <i>CLO</i>, the
            textual notes published for the print volumes remain essentially
            relevant to the <i>CLO</i>. &#8220;A Note on the Text&#8221; from
            volume 32 encapsulates the editorial guidelines for the first
            thirty-two volumes of the print edition:
          </p>
  
          <p>
            Within our editorial conventions we have tried to show as nearly as
            possible what the Carlyles actually wrote. Commas and periods in TC
            and JWC&#8217;s letters have been regularized within quotation marks.
            Anything with square brackets that is not noted indicates
            illegibility, tears, or stains in the manuscript. Damage to
            manuscripts is normally noted in the headnote. All square brackets by
            TC or JWC are normalized to round brackets to avoid confusion with
            editorial square brackets. With TC, who composed carefully, omissions
            of words and letters and occasional misspellings or other errors are
            normally indicated by notes. With JWC, who often wrote hurriedly and
            carelessly, errors are usually unnoted, except when editorial comment
            is necessary to make the text clear, or confirmation is needed that
            such and such was what she set down. Titles cited frequently in the
            notes are abbreviated (see Key to References); others are listed with
            date and place of publication, with the exception of titles published
            in London, which give only the date.
          </p>
  
          <p>
            In using the <i>Collected Letters</i> as copy text, the text of the
            <i>CLO</i> adheres to that of the print volumes. Because of
            differences in medium, the primary editorial goal of the <i>CLO</i> is
            similar to but different from that of the print edition; it is to
            display texts that represent a complete and accurate reflection of the
            content of the Carlyles&#8217; letters as far as the limitations of
            digital typography and technology allow.
          </p>
        </div>

        <!-- Square Brackets and Abbreviations -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#abbreviations"
            role="button"
            aria-expanded="false"
            aria-controls="abbreviations"
          >Square Brackets and Abbreviations</a>

        <div class="collapse" id="abbreviations">
          <p>
            In the <i>CLO</i>, the editorial use of square brackets as defined in
            the print-edition textual notes has been retained, with a significant
            addition. Letters in the print edition are introduced in a headnote
            that begins with the correspondents and dates of the letter, TC-JWC, 4
            April. The headnote of the print edition has become the
            &#8220;Sourcenote&#8221; in the <i>CLO</i>; it is displayed at the
            bottom of each letter. In the interest of functionality,
            correspondents of the Carlyles in the <i>CLO</i> are required to have
            a unique abbreviation associated with them.
          </p>
  
          <p>
            One of the limitations of digital searching is that it cannot
            distinguish what to the human eye seems logical. Thus John Forster and
            John Fergus, both JF in the print edition, are now JF and JOFE in the
            <i>CLO</i>. This change was effected because without unique
            correspondent abbreviations the web of hyperlinks that connects the
            letters within the <i>Collected Letters</i> would not
            function&#8212;the computer cannot distinguish between JF (John
            Forster) and JF (John Fergus).
          </p>
  
          <p>
            In the <i>CLO</i> &#8220;Sourcenote,&#8221; when the
            <i>CLO</i> correspondent abbreviation differs from that of the print
            edition, it appears after the print-edition version, in square
            brackets. In the footnote hyperlinks, however, which automatically
            take the user to other letters and texts published in the collection,
            only the <i>CLO</i> abbreviations are displayed, without square
            brackets, unless there is a question as to the identity of the
            correspondent (as in the print edition).
          </p>
        </div>

        <!-- Special Textual Entities -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#textualEntities"
            role="button"
            aria-expanded="false"
            aria-controls="textualEntities"
          >Special Textual Entities</a>

        <div class="collapse" id="textualEntities">
          <p>
            Differences in the typographical capability of the analog and digital
            worlds have changed the way editors and publishers reproduce letters.
            Although the editorial goal of re-creating as closely as possible the
            experience of reading the letters in manuscript form remains central
            to both the digital and the analog projects, one of the strengths of
            analog typography, the re-creation of special textual instances such
            as math notation and Greek writing, proves to be a significant
            weakness of digital display.
          </p>
  
          <p>
            Simply put, the encoding tools necessary to make unique textual
            entities a seamless part of the data flow are not yet available. This
            weakness, however, is offset by a clear strength, the ability to
            include actual images of manuscripts within the digital resource
            easily.
          </p>
  
          <p>
            For now, where possible, inline images of special textual instances
            re-created in the print edition&#8212;such as math notation, Greek,
            and the Carlyles&#8217; descriptive squiggles and drawings&#8212;have
            been included. Clearly, the manuscript version of unique textual
            entities carries more editorial worth than typographical attempts to
            re-create them. And initially, users must excuse the rather inelegant
            manner in which some of the print edition&#8217;s typographical
            entities are displayed. Further, in a few instances, such as the
            occasional insertion of large braces that enclose addresses in
            postscripts of letters, the <i>CLO</i> is unable to render a
            satisfactory display at this time.
          </p>
  
          <p>
            Fortunately, such entities are rarely if ever required for scholarly
            citation; they are, however, of great interest from the standpoint of
            providing users with an accurate vision of the Carlyles&#8217;
            creative intent. Additions of &#8220;Manuscript&#8221; views of the
            letters that contain such unique textual entities, therefore, will be
            given top priority as new material is added to the site.
          </p>
        </div>

        <!-- ODNB Links and Page Numbers -->
        <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#ODNB"
            role="button"
            aria-expanded="false"
            aria-controls="ODNB"
          >ODNB Links and Page Numbers</a>

        <div class="collapse" id="ODNB">
          <p>
            The <i>ODNB</i> after the birth and death dates of figures links to
            their biography in the <i>Oxford Dictionary of National Biography</i>.
            Unlike the print edition, in the <i>CLO</i> all references to other
            letters in the collection use a correspondent and date string (i.e.,
            &#8220;see TC to JWC, 29 Sept. 1847&#8221;) instead of volume and page
            numbers. The page numbers, although not displayed, are retained in the
            raw encoding by means of a wrapper. Each letter and text in the
            collection contains a bibliographic slugline that appears at the top
            of the viewing window of letters and other texts. In addition to the
            DOI, this slugline also identifies the artifact's location in the
            print edition.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
