#content {
  margin: auto;
  padding-top: 25px;
  width: 95%;
  max-width: 1200px;
}

.about-text {
  width: 60%;
}

.about-image {
  width: 40%;
  display: flex;
  align-items: flex-start;
  padding-right: 1rem;
}

#about-image {
  height: auto;
  width: 100%;
  max-width: 600px;
  border: 2px solid black;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-column {
    width: 100%;
  }
}