#nav {
  background: #21596f;
}

#nav-links {
  font-size: 17px !important;
  width: 90%;
}

#nav-links a {
  text-decoration: none;
}

#aboutDropdown {
  color: #c17953;
  text-decoration: none;
}

#aboutDropdownList {
  background-color: #f8f1e5;
}

#aboutDropdownList a:hover {
  background-color: #f8f1e5;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item:visited {
  background-color: #21596f;
}

@media screen and (min-width: 1601px) {
  #nav-links, #aboutDropdown, #aboutDropdownList {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  #nav-links, #aboutDropdown, #aboutDropdownList {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  #nav-links, #aboutDropdown, #aboutDropdownList {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 999px) {
  #nav-links, #aboutDropdown, #aboutDropdownList {
    font-size: 14px !important;
  }
}
