#nav {
  background: #21596f;
}

#nav-links {
  font-size: 17px !important;
  width: 80%;
}

#nav-links a {
  text-decoration: none;
}

#aboutDropdown {
  color: #c17953;
  text-decoration: none;
}

#aboutDropdownList {
  background-color: #f8f1e5;
}

#aboutDropdownList a:hover {
  background-color: #f8f1e5;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item:visited {
  background-color: #21596f;
}
