<div class='d-flex justify-content-center' id='nav'>
  <div class='d-flex justify-content-between align-items-center' id='nav-links'>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/browse-volume" routerLinkActive="active">Browse by Date and/or Volume</a>
    <a routerLink="/photo-album" routerLinkActive="active">Carlyle Family Photograph Albums</a>
    <a routerLink="/browse-recipient" routerLinkActive="active">Browse by Recipient</a>
    <a routerLink="/browse-subject" routerLinkActive="active">Browse by Subject</a>
    <a routerLink="/about" routerLinkActive="active">About CLO</a> <!-- Needs to be dropdown-->
  </div>
</div>
