<div *ngIf="volume">
  <div class="container">
    <!-- Metadata -->
    <div class="metadata">
      <!-- First row -->
      <div class="d-flex">
        <div class="p-2"><b>Date: </b>{{ volume.letters[0].docDate }}</div>
        <div class="p-2"><b>Author: </b>{{ volume.letters[0].docAuthor }}</div>
      </div>
      <!-- Second row -->
      <div class="d-flex">
        <div class="p-2"><b>XML id: </b>{{ volume.letters[0].xml_id }}</div>
        <div class="p-2"><b>Sender: </b>{{ volume.letters[0].sender }}</div>
        <div class="p-2"><b>Recipient: </b>{{ volume.letters[0].recipient }}</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="col-sm">
      <div class="viewer-box">
        <div id="transcription"[innerHTML]="volume.letters[0].docBody"></div>
      </div>
  </div>
</div>
