<div
  class="p-2"
  id="searchWrap">
  <div id="searchButton">
    <img src="../../assets/magnifying-glass.png" alt="Go"
    name="formButton" id="formButton">
  </div>
  <div id="searchInput">
    <div id="formField">
      <input type="text"
      size="27" value="" class="formsA">
    </div>
    <br>
    <br>
    <div class="d-flex flex-row justify-content-start">
      <a href="#">Advanced Search</a>
      <div class="d-flex flex-row align-items-start ml-2">
        <input type="checkbox" name="wholeWord" id="wholeWord" checked/>
        <label for="wholeWord" id="wholeWordLabel">
          <span>Whole-word</span>
        </label>
      </div>
    </div>
  </div>
</div>
