<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <!-- Header -->
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Editors</h4>
        <app-search></app-search>
      </div>

      <!-- Content -->
      <div class="d-flex flex-row justify-content-start pt-2">
        <!-- First Column -->
        <div class="d-flex flex-column justify-content-start align-items-start pt-2 w-50">
          <h5>The Carlyle Letters Online</h5>
            <h6>Coordinating Editor</h6>
              <p>Brent E. Kinser, Western Carolina University: <a href="https://www.wcu.edu/faculty/bkinser.aspx">Bio</a></p>
          <br />

          <h5>
            The Collected Letters of<br />
            Thomas and Jane Welsh Carlyle
          </h5>
            <h6>Senior Editors</h6>
              <p>
                Ian M. Campbell, University of Edinburgh: <a href="https://www.ed.ac.uk/literatures-languages-cultures/chb/people/centre-affiliates/prof-ian-campbell">Bio</a>
                <br />
                David R. Sorensen, Saint Joseph&#8217;s University: <a href="https://www.sju.edu/faculty/david-sorensen">Bio</a>
              </p>

            <h6>Editors</h6>
              <p>
                Katherine Inglis, University of Edinburgh: <a href="https://www.ed.ac.uk/profile/katherine-inglis">Bio</a>
                <br />
                Brent E. Kinser, Western Carolina University: <a href="https://www.wcu.edu/faculty/bkinser.aspx">Bio</a>
                <br />
                Jane Roberts, University of Edinburgh: <a href="https://www.ed.ac.uk/profile/jane-robertson">Bio</a>
                <br />
                Liz Sutherland, University of Edinburgh
              </p>

            <h6>Managing Editor</h6>
              <p>David Southern
                <br />
              </p>
        </div>
        <!-- Second Column -->
        <div class="d-flex flex-column justify-content-start align-items-start p-2 w-50">
          <h5>Emeriti</h5>
            <h6>Senior Editors</h6>
              <p>
                Aileen Christianson, University of Edinburgh
                <br />
                Kenneth J. Fielding, University of Edinburgh
                <br />
                Clyde de L. Ryals, Duke University
                <br />
                Charles Richard Sanders, Duke University
              </p>

            <h6>Editors</h6>
              <p>
                Sheila McIntosh, University of Edinburgh
                <br />
                Hilary J. Smith, Duke University
                <br />
                Jonathan Wild, University of Edinburgh
              </p>

            <h6>Associate Editor</h6>
              <p>John Clubbe, University of Kentucky</p>

            <h6>Assistant Editors</h6>
              <p>
                Bill Bell, University of Edinburgh
                <br />
                Janetta Taylor, University of Edinburgh
              </p>
        </div>
      </div>
    </div>
  </div>
</div>
