<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Acknowledgments</h4>
        <app-search></app-search>
      </div>
      <div class="d-flex flex-row justify-content-start pt-2">
        <div
          class="d-flex flex-column justify-content-start align-items-start pt-2 w-50"
        >
          <h6>NEH, Delmas, and AHRC</h6>
          <p>
            Both the print and the electronic editions of the Carlyle Letters
            Project would not be possible without the generous support of the
            National Endowment for the Humanities (NEH). Special thanks are also
            due to the Gladys Krieble Delmas Foundation for its gracious
            contributions, which have made the April 2013 update of the
            <i>CLO</i> possible and have enabled the editors and the press to
            reach matching funds goals set by the NEH during five previous
            granting periods (2003&#8211;6, 2006&#8211;9, 2009&#8211;12,
            2012&#8211;15, and 2015&#8211;18). A large debt of gratitude is also
            owed to the Arts and Humanities Research Council (AHRC) in the
            United Kingdom for its support of the Edinburgh editorial operation.
          </p>

          <h6>Saint Joseph's</h6>
          <p>
            The editors also wish to express their grateful appreciation to
            Saint Joseph's University, in particular to Rev. C. Kevin Gillespie,
            S.J., President, and Dr. Brice Wachterhauser, Provost, for their
            generous contributions towards NEH matching funds requirements, and
            for their support of the work done by senior editor David R.
            Sorensen.
          </p>

          <h6>University of South Carolina</h6>
          <p>
            Sincere thanks are due to Thomas F. McNally, Dean of Libraries, and
            to David Lee Miller, director of the USC-Center for Digital
            Humanities, for their support of both the <i>CLO</i> migration and
            the Victorian Lives and Letters Consortium.
          </p>

          <h6>The Editors and the Librarians</h6>
          <p>
            Without the monumental efforts of the past and present editors of
            the <i>Collected Letters</i>, this electronic project would, of
            course, never have been conceived. In particular, the importance of
            Stephen A. Cohn and David R. Sorensen, the principal investigators
            for the NEH grants that continue to play an essential role in the
            funding of the project, cannot be overestimated. In addition, all of
            the editors involved with the Carlyle Letters Project have benefited
            from the unfailing kindness, assistance, and enthusiasm of a vast
            host of librarians, also without whom this project, both in print
            and in electronic form, would have been impossible. All of them are
            extended eternal thanks and gratitude.
          </p>

          <h6>Colleagues</h6>
          <p>
            Of the many remarkable aspects of this project, none is more
            remarkable than the intimate, integrated working relationship that
            develops among the various entities charged with achieving the
            launch of both versions of the <i>CLO</i>.
          </p>
        </div>
        <div
          class="d-flex flex-column justify-content-start align-items-start p-2 w-50"
        >
          <p>
            At the University of South Carolina Center for Digital Humanities:
            Colin Wilder, Co-Director; Rachel Mann, Digital Humanities Graduate
            Fellow; Travis Mullen, Senior Programmer; Eric Gonzalez, Programmer;
            Julia Strout, Programmer; George Clayton, Web Developer; and Collin
            Haines, Web Developer.
          </p>
          <p>
            At Duke University Press: Rebekah Kati, Digital Publishing
            Technologist; Mike Brondoli, Journals Production Manager; Kelly
            Andrus, Lead Designer; Sue Hall, Art Director; David Southern,
            Managing Editor.
          </p>

          <p>
            The teams assembled during the creation of the first version of
            <i>CLO</i> continue to deserve both recognition and profound thanks
            for their efforts in bringing the <i>CLO</i> to life.
          </p>

          <p>
            At Duke University Press: Donna Blagdan, Michael Brondoli, Mandy
            Dailey-Berman, Jocelyn Dawson, Steve Grathwohl, Leslie Grignolo, Sue
            Hall, Debra Kaufman, Cason Lynley, Jeff Mahorney, Chris Mazzara,
            Carolyn Siefken, and, as always, David Southern, whose service to
            the Carlyle Letters Project as managing editor is nonpareil.
          </p>

          <p>
            At HighWire Press: Anh Bui, Rachel Cordray, Jesse Gathering, Julie
            Noblitt, Nick Nunes, Diana Oestreich, Greg Schwartz, Ann Van, Alan
            Wen, and Pam Wilson.
          </p>

          <p>
            At MethodFuel: Susanne Crihfield, Ian Joyce, and Michael Teague.
          </p>

          <p>
            As always, the coordinating editor remains exceptionally grateful to
            all of the colleagues, friends, and students who have assisted him
            with various tasks at various times over the last several years,
            especially to Mary Adams, Mary Ann Gobble, and Lindsey Peterson, but
            also to Lauren Dorminey, Rod Franco, Sarah M. Hanson, Kirsten
            Huscusson, Philip Kowalski, Robert Martinez, Travis Mullen, Terrence
            Muzzell, Elizabeth Nissly, Ian Oakes, Christian Rogers, Thomas
            Rogers, Christine Shia, Taylor Sledge, Marie Stephens, Jennifer
            Veilleux, Heather Williams, Bobby Willover, Sarah Wolfe, and Kelsey
            Woodburn.
          </p>

          <p>
            Paolo Mangiafico of Perkins Library at Duke University will always
            deserve a special chapter in the history of the <i>CLO</i> for his
            vital assistance in the crucial early stages of development.
          </p>

          <h6>Further Thanks</h6>
          <p>
            For more comprehensive recognition of the multitude of people who
            have contributed to the <i>Collected Letters</i> and to the
            <i>CLO</i>, please see the sections entitled
            &#8220;Acknowledgments&#8221; available in the <i>CLO</i> through
            the table of contents pages of the volumes.
          </p>

          <p>B.E.K.</p>
        </div>
      </div>
    </div>
  </div>
</div>
