@import '~viewerjs/dist/viewer.css';

html, body {
  height: 100% !important;
}

/*
=================================================
Body Styles
=================================================
*/
body {
  font-family: 'Georgia', 'Times New Roman', Times, serif !important;
  font-size: 14px !important;
  color: #344c5c !important;
  background-image: url('./assets/duke_background.jpg');
  background-color: #ebdac2;
  background-repeat: repeat;
  background-position: 50% 130px;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

/*
=================================================
Basic Styles
=================================================
*/
.error {
  font-weight: bold;
  color: #8b2c32 !important;
}

a:link, a:visited {
  color: #c17953 !important;
}

a:hover, a:active, a:focus {
  color: #a59657 !important;
}

.orange-border-bottom {
  border-bottom: 2px dotted #c17953;
}

h1, h2, h3, h4, h5, h6 {
  color: #5c8c48 !important;
  font-weight: bold !important;
}

img {
  border: 0;
}

mark {
  color: red;
  padding: 0 !important;
  background-color: #f5ebdc !important;
}

a.tx_sup {
  color: #344c5c !important;
}

/*
=================================================
Custom metadata modal
=================================================
*/

.metadataModal .modal-dialog {
  position: absolute;
  margin: auto;
  width: 230px;
  -webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
}

.metadataModal .modal-content{
  background-color: #D2E0DC;
}

.metadataBackdrop {
  background-color: #FFFFFF;
}