html, body {
  height: 100% !important;
}

/*
=================================================
Body Styles
=================================================
*/
body {
  font-family: 'Georgia', 'Times New Roman', Times, serif !important;
  font-size: 14px !important;
  color: #344c5c !important;
  background-image: url('./assets/duke_background.jpg');
  background-color: #ebdac2;
  background-repeat: repeat;
  background-position: 50% 130px;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

/*
=================================================
Basic Styles
=================================================
*/
.error {
  font-weight: bold;
  color: #8b2c32 !important;
}

a:link, a:visited {
  color: #c17953 !important;
}

a:hover, a:active, a:focus {
  color: #a59657 !important;
}

.orange-border-bottom {
  border-bottom: 2px dotted #c17953;
}

h1, h2, h3, h4, h5, h6 {
  color: #5c8c48 !important;
  font-weight: bold !important;
}

img {
  border: 0;
}
