<!-- Main page for MF -->
<div id="body_wrap">
  <div id="mid_wrap">
    <div id="mid">
      <div id="col_wrap">
        <div id="col_1">
          <div>
             <i class="fa fa-search" aria-hidden="true"></i>
             <input type="text" name="search" placeholder="Search..">
          </div>
          <br>
          <h1>Welcome to the Michael Field Diaries</h1>
          <div id="body_txt">
            <p>
              The poets, dramatists, and diarists Katharine Bradley (1846-1914) and Edith Cooper (1862-1913) were not only
              aunt and niece, but also long-term partners who wrote collaboratively under the composite name "Michael
              Field." "They" published prolifically—particularly collections of lyric poetry and historical verse-dramas—finding
              success with the early works in the 1880s, and winning new-found fame in recent times primarily with their
              poetry. However, perhaps their most fascinating document is the diary they co-wrote to record their lives and
              literary endeavors. Titled "Works and Days," it primarily covers the years from 1888 to their deaths just prior to
              World War I. Intended for posthumous publication, their literary executor (Thomas Sturge Moore), published in
              1933 a vastly expurgated volume of extracts. Currently housed in the archives of the British Library, and
              untranscribed, the full manuscript diary has been relatively inaccessible to anyone other than the dedicated
              scholar. Yet it contains much to intrigue researchers and general readers alike. In addition to their own
              aesthetic response to events both contemporaneous and historically-resonant, it offers a powerful historical
              documentation of the construction of a queer identity through the formation of their aesthetic paganism, their
              conversion to Catholicism, and, finally, through the pathos of Cooper’s death. It also tells the narrative of their
              close, if often tempestuous, relationships with John Ruskin, Robert Browning, and Bernhard Berenson; and
              their chronicle of the cultural life of fin-de-siecle London and Europe, detailing encounters with the leading
              literary and artistic figures of the period, including Oscar Wilde, William Butler Yeats, Algernon Charles
              Swinburne, and Walter Pater. The writing is powerful, caustic, and witty; and sometimes intensely moving.
            </p>
          </div>
          <!-- body_txt END -->
        </div>
        <!-- col_1 END -->
      </div>
      <!-- col_wrap END -->
    </div>
    <!-- mid END -->
    <app-volume-links></app-volume-links>
  </div>
  <!-- mid_wrap END -->
</div>
<!-- body_wrap END -->
