img {
  display: block;
  margin: auto;
  max-height: 500px;
  width: auto;
  height: auto;
}

table {
  width: 100%;
}

td {
  padding: 10px;
}

p {
  margin: 0;
}

#metadataDropdown > table {
  margin-top: 0;
}

.imageViewer {
  margin-top: 25px;
  display: block;
  position: relative;
  width: 750px;
  height: 600px;
  border: 2px solid #21596f;
  background: #f5ebdc;
  border-radius: 10px;
}

.metadataViewer {
  margin-top: 25px;
  font-size: 16px;
  width: 750px;
}

.image {
  margin: 25px auto;
}

.actionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  border-top: 2px solid #21596f;
  border-radius: 0 0 5px 5px;
  background: #21596f;
}

.actionButton {
  background: #9db993;
  border: none;
  border-radius: 2px;
  width: 50px;
}

.actionButton > fa-icon {
  font-size: 16px;
}


.col1 {
  width: 10%;
  text-align: right;
  vertical-align: top;
  font-weight: bold;
}

.col2 {
  width: 40%;
}

.dropdown {
  text-decoration: none;
}

.dropdown::after {
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 12px;
}

