<div class="container-fluid">
  <div class="row justify-content-start m-auto w-75">
    <h4 class="orange-border-bottom">Album: {{ albumId }}, Image: {{imageId}}</h4>
  </div>
  <div class="row justify-content-center align-items-center" style="height: 100%; margin-bottom: 25px;">
    <div class="col align-self-center" id="viewer">
      <fa-icon [icon]="faAngleDoubleLeft" size="2x" (click)="goToStart()"></fa-icon>
      <fa-icon [icon]="faAngleLeft" size="2x" (click)="goToImage(prevId)"></fa-icon>
      <img id="image" src="{{ fullsizeUrl }}">
      <fa-icon [icon]="faAngleRight" size="2x" (click)="goToImage(nextId)"></fa-icon>
      <fa-icon [icon]="faAngleDoubleRight" size="2x" (click)="goToEnd()"></fa-icon>
    </div>
    <div class="w-100"></div>
    <div class="col align-self-center" id="metadata">
      <p id="metadataCollapse">
        <a class="orange-border-bottom" data-toggle="collapse" href="#metadataContent" aria-expanded="false" aria-controls="metadataContent">Image Metadata</a>
      </p>
      <div class="collapse" id="metadataContent">
        <p><strong>Date:</strong> {{this.image.date}}</p>
        <p><strong>Title:</strong> {{this.image.title}}</p>
        <p><strong>Caption:</strong> {{this.image.caption}}</p>
        <p><strong>Creator:</strong> {{this.image.creator}}</p>
      </div>
    </div>
  </div>
</div>
