<div class="container-fluid" style="padding-top: 25px;">
  <div class="row justify-content-start m-auto w-75">
    <h4 class="orange-border-bottom" *ngIf="imageMetadata">
      {{ imageMetadata.title }}
    </h4>
  </div>
  <div class="row justify-content-center">
    <div class="imageViewer">
      <div class="image">
        <img src="./{{ imageUrl }}" id="image">
      </div>
      <div class="actionBar">
        <button type="button" class="actionButton" (click)="goToStart()">
          <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
        </button>
        <button
          type="button"
          class="actionButton"
          (click)="goToImage(prevId)"
          [disabled]="!prevId"
        >
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
        <button
          type="button"
          class="actionButton"
          (click)="goToImage(nextId)"
          [disabled]="!nextId"
        >
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>
        <button type="button" class="actionButton" (click)="goToEnd()">
          <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="imageMetadata">
    <div class="metadataViewer">
      <table>
        <tr *ngIf="imageMetadata.description">
          <td class="col1">Description:</td>
          <td class="col2">{{ imageMetadata.description }}</td>
        </tr>
        <tr *ngIf="album._id === 0">
          <td class ="col1">Caption:</td>
          <td class = "col2"></td>
        </tr>
        
        <tr *ngIf="album._id === 0">
          <td class ="col1">Link to Volume:</td>
          <td class ="col2">
            <tr *ngIf="nextId >= 9">
              <a
              routerLink="/../volume/{{ nextId }}/frontice_piece"
              routerLinkActive="active">
              Volume {{ nextId }}</a>
            </tr>
            <tr *ngIf="nextId <= 9">
              <a
              routerLink="/../volume/0{{ nextId }}/frontice_piece"
              routerLinkActive="active">
              Volume 0{{ nextId }}</a>
            </tr>
          </td>
        </tr>
          
        <tr *ngIf="imageMetadata.subjects.length">
          <td class="col1">Subjects:</td>
          <td class="col2">
            <p *ngFor="let subject of imageMetadata.subjects">
              {{ subject }}
            </p>
          </td>
        </tr>
        <tr>
          <td class="col1">
            <a
              class="dropdown"
              data-toggle="collapse"
              href="#metadataDropdown"
              role="button"
              aria-expanded="false"
              aria-controls="metadataDropdown"
            >
              More Metadata
            </a>
          </td>
          <td></td>
        </tr>
      </table>

      <div class="collapse" id="metadataDropdown">
        <table>
          <tr *ngIf="imageMetadata.date !== ''" class="dropdownInfo">
            <td class="col1">Date:</td>
            <td class="col2">{{ imageMetadata.date }}</td>
          </tr>
          <tr *ngIf="imageMetadata.creators" class="dropdownInfo">
            <td class="col1">Creators:</td>
            <td class="col2">
              <p *ngFor="let creator of imageMetadata.creators">
                {{ creator }}
              </p>
            </td>
          </tr>
          <tr *ngIf="imageMetadata.media_type !== ''" class="dropdownInfo">
            <td class="col1">Media Type:</td>
            <td class="col2">{{ imageMetadata.media_type }}</td>
          </tr>
          <tr *ngIf="imageMetadata.note !== ''" class="dropdownInfo">
            <td class="col1">Note:</td>
            <td class="col2">{{ imageMetadata.note }}</td>
          </tr>
          <tr *ngIf="imageMetadata.source !== ''" class="dropdownInfo">
            <td class="col1">Source:</td>
            <td class="col2">{{ imageMetadata.source }}</td>
          </tr>
          <tr *ngIf="imageMetadata.digital_specs !== ''" class="dropdownInfo">
            <td class="col1">Digital Specifications:</td>
            <td class="col2">{{ imageMetadata.digital_specs }}</td>
          </tr>
          <tr *ngIf="imageMetadata.date_digital !== ''" class="dropdownInfo">
            <td class="col1">Date Digital:</td>
            <td class="col2">{{ imageMetadata.date_digital }}</td>
          </tr>
          <tr *ngIf="imageMetadata.rights !== ''" class="dropdownInfo">
            <td class="col1">Rights:</td>
            <td class="col2">{{ imageMetadata.rights }}</td>
          </tr>
          <tr *ngIf="imageMetadata.language_note !== ''" class="dropdownInfo">
            <td class="col1">Language Note:</td>
            <td class="col2">{{ imageMetadata.language_note }}</td>
          </tr>
          <tr *ngIf="imageMetadata.format !== ''" class="dropdownInfo">
            <td class="col1">Format:</td>
            <td class="col2">{{ imageMetadata.format }}</td>
          </tr>
          <tr *ngIf="imageMetadata.publisher !== ''" class="dropdownInfo">
            <td class="col1">Publisher:</td>
            <td class="col2">{{ imageMetadata.publisher }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
