
<div class="container" id="content">

<!--   <div class="col-12">   -->
    <div>
      <H3>Advanced Search</H3>
    </div>
 <!--   </div>   --> 

    <form id="searchTerms">
      <label id="search-button" for="terms"><INPUT type="submit" value="Search" (click)="startSearch()"></label>
      <div *ngFor='let query of queries; 
              let i = index; 
                let first = isFirst; 
                  let last = isLast;'>
              <select [attr.id]="query[0][i]" (change)='changeDropDown($event)'>
                <option value='AND'>Results must contain</option>
                <option value='OR'>Results may contain</option>
                <option value='NOT'>Results must not contain</option>
            </select>
            <!--
            <select [attr.id]="query[1][i]" (change)='changeDropDown($event)'>
               <option disabled selected hidden>Fields</option> 
              <option value='docBody'>Letter Body</option>
              <option value='sourceNote'>Source Notes</option>
              <option value='footnotes'>Foot Notes</option>
              <option value='imageCaptionAndMetadata'>Image Caption and Metadata</option>
              <option value='allFields'>All Fields</option>
            </select>
          -->
            <input style="width: 245px; background-color: transparent; border-radius: 3px; border: 1px solid brown;"
             class="search-box" type='string' size=80 
                [attr.id]="query[1][i]" 
                  name='AND'
                    placeholder="the best of times"/> 
      </div> <!-- close ngFor's div -->
    </form>

    <div>
      <button (click)="addField()">Add Term</button>
      <button (click)="removeField()">Remove Term</button>
    </div>

      <div class="container-narrow-results">


        <div class="narrow-by-author">
          <p><strong id="sub-category-title">Authors</strong></p>
          
            <input id="all-authors-checkbox" type="checkbox" (change) = "checkUncheckAllAuthors($event)" checked/> <strong> {{ docAuthorsStr[0] }} </strong> <br>

            <input id="thomas-carlyle-checkbox" type="checkbox" [(ngModel)] = "authors[1]" checked/> {{ docAuthorsStr[1] }} <br>
            
            <input id="jane-carlyle-checkbox" type="checkbox" [(ngModel)] = "authors[2]" checked/> {{ docAuthorsStr[2] }}  <br>

            <input id="margaret-carlyle-checkbox" type="checkbox" [(ngModel)] = "authors[3]" checked/> {{ docAuthorsStr[3] }}  <br>

            <input id="thomas-and-jane-checkbox" type="checkbox" [(ngModel)] = "authors[4]" checked/> {{ docAuthorsStr[4] }} 
        </div>

       
         <div *ngFor='let recipient of recipients' class="narrow-by-recipient">
          <p> <strong id="sub-category-title"> Recipients </strong>  </p>
          <input style="width: 245px; background-color: transparent; border-radius: 3px; border: 1px solid brown;" 
            list="list-of-recipients" placeholder="Lady Airlie"/>

            <datalist id="list-of-recipients">
              <option value="Thomas Carlyle">
              <option value="Jane Welsh Carlyle">
              <option value="Margaret Welsh"> 
              <option value="Goethe"> 
              <option value="Ralph Waldo Emerson"> 
              <option value="John Stuart Mill"> 
              <option value="Lady Airlie"> 
              <option value="Lady Ashburton"> 
              <option value="Anne Gilchrist">
              <option value="Kate Stanley"> 
              <option value="Eliza Forster">
              <option value="Ann Chamberlayne"> 
              <option value="Mary Carlyle Austin"> 
              <option value="J. George Cooke"> 
            </datalist>
            <br>
          <button (click)="addRecipient()">Add</button>
          <button (click)="removeRecipient()">Remove</button>
         <a id="link-to-index" href="/index-of-correspondents">    Index of Correspondents</a>
        </div>
        <div class="narrow-by-fields">
          <p> <strong id="sub-category-title"> Fields </strong>  </p>

            <input id="all-fields-checkbox" type="checkbox" (change)="checkUncheckAllFields($event)" checked/>  <strong> {{ fieldsStr[0] }} </strong>  <br>
          
            <input id="letter-body-checkbox" type="checkbox" [(ngModel)] = "fields[1]" checked/> {{ fieldsStr[1] }} <br>
            
            <input id="source-note-checkbox" type="checkbox" [(ngModel)] = "fields[2]" checked/> {{ fieldsStr[2] }} <br>

            <input id="footnotes-checkbox" type="checkbox" [(ngModel)] = "fields[3]" checked/> {{ fieldsStr[3] }} <br>
        </div>

        <div class="narrow-by-dates">
          <p><strong id="sub-category-title"> Time Period </strong></p>
              <label for="start-date"> dated between... </label>
              <input type="search" 
               [(ngModel)] = "dateRange[0]" id="dates-input-box" name="start-date" placeholder="1812"/>  <br>
              <label for="end-date"> and... </label>
              <input type="search" 
                  [(ngModel)] = "dateRange[1]" id="dates-input-box" name="end-date" placeholder="1881"/> 
          </div>

      </div>
</div>

<!--

      {{#if volumes}}
          <hr/>
          {{#each volumes}}
              <div class="volume">
                  <div class="title"><span class="label">ID:</span><a href="https://clo.dev.cdhsc.org/volume/{{_id}}/{{letter.xml_id}}" target="_blank">{{letter.xml_id}}</a></div>
                  <div><span class="label">Letter Date:</span> {{letter.docDate}}</div>
                  <div><span class="label">Author:</span> {{letter.docAuthor}}</div>
                  <div><span class="label">Recipient:</span> {{letter.recipient}}</div>
              </div>
              <hr/>
          {{/each}}
      {{else}}
          <div>No data to display.</div>
      {{/if}}

  -->
 <div
  class="container-fluid"
  *ngIf="(searchResults | async) as results; else loading"
  id="content"
>

  <div class="row justify-content-start orange-border-bottom">
    <ul style="list-style-type: none;">
      <li><strong> AND: {{ displayQuery[0] }}</strong></li>
      <li><strong> OR:  {{ displayQuery[1] }}</strong></li>
      <li><strong> NOT: {{ displayQuery[2] }}</strong></li>
    </ul>
  </div>
  <ng-container *ngIf="results.data.length == 0">
    <div class="row justify-content-start pt-2">
      <span>No results found.</span>
    </div>
  </ng-container>
  <ng-container *ngIf="results.data.length > 0">
    <div class="row justify-content-between pt-2">
      <span
        >Displaying {{ start }} - {{ end }} of
        {{ results.data.length }} results.</span
      >
      <ngb-pagination
        [collectionSize]="results.data.length"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [(page)]="page"
        (pageChange)="setPage($event)"
      ></ngb-pagination>
    </div>
    <div
      class="row justify-content-between align-items-center p-2 result"
      *ngFor="let result of (results.data | sortBy:'dsc':results.data.score | slice: start - 1:end)"
    >
      <div class="col-8 p-0">
        <table cellpadding = "10">
          <tr>
            <td id="volResult" white-space: nowrap>
              <span>Volume: </span> {{ result._id }}
            </td>
            <td id="letterResult" white-space: nowrap>
              <span>Letter: </span>
              <a
                routerLink="/volume/{{ result._id }}/{{ result.letter.xml_id }}"
                [queryParams]="{ term: searchTerm }"
                routerLinkActive="active"
                target="_blank"
              >{{ result.letter.xml_id }}</a>
            </td>
            <td id="dateResult" white-space: nowrap>
              <span>Date: </span> {{ result.letter.docDate | date: "longDate" }}
            </td>
          </tr>
          <tr>
            <td id = "letterAuthor" white-space: nowrap>
              <span>Sender: </span> {{ result.letter.docAuthor.toUpperCase() }}
            </td>
            <td id = "letterRecipient">
              <span>Recipient: </span> {{ result.letter.recipient }}
            </td>
            <td id = "letterFootnotes">
              <span>Footnotes: </span>
              <a
              routerLink="/volume/{{ result._id }}/{{ result.letter.xml_id }}#footnoteCollapse"
              routerLinkActive="active">
              Link to Footnotes</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-4 p-auto" id="resultText">
        <a
          data-toggle="collapse"
          href="#{{ result.letter.xml_id }}"
          aria-expanded="false"
          [attr.aria-controls]="result.letter.xml_id"
          style="text-decoration: none;"
        >
          <span>View Letter Content</span>
          <span style="color: #5c8b57 !important;">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
          </span>
        </a>
      </div>
      <div class="col-12">
        <div class="collapse" id="{{ result.letter.xml_id }}">
          <div
            class="viewer-box"
            [innerHtml]="safeHTML(result.letter.docBody)"
          ></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-2">
      <ngb-pagination
        [collectionSize]="results.data.length"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [(page)]="page"
        (pageChange)="setPage($event)"
      ></ngb-pagination>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <div
  *ngIf = "isSearching"
  >
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <img class="loading" src="../../assets/loading.gif" />
    </div>
  </div>
</div> 
</ng-template>
