
<div class="container" id="content">

<!--   <div class="col-12">   -->
    <div>
      <H3>Advanced Search</H3>
    </div>
 <!--   </div>   --> 

    <form id="searchTerms">
      <label id="search-button" for="terms"><INPUT type="submit" value="Search" (click)="startSearch()"></label>
      <div *ngFor='let query of queries; 
              let i = index; 
                let first = isFirst; 
                  let last = isLast;'>
            <select [attr.id]="query[0][i]" (change)='changeDropDown($event)'>
                <option value='AND'>Results must contain</option>
                <option value='OR'>Results may contain</option>
                <option value='NOT'>Results must not contain</option>
            </select>
            <!--
            <select [attr.id]="query[1][i]" (change)='changeDropDown($event)'>
               <option disabled selected hidden>Fields</option> 
              <option value='docBody'>Letter Body</option>
              <option value='sourceNote'>Source Notes</option>
              <option value='footnotes'>Foot Notes</option>
              <option value='imageCaptionAndMetadata'>Image Caption and Metadata</option>
              <option value='allFields'>All Fields</option>
            </select>
          -->
            <input style="width: 245px; background-color: transparent; border-radius: 3px; border: 1px solid brown;"
             class="search-box" type='string' size=80 
                [attr.id]="query[1][i]" 
                  name='AND'
                    placeholder="the best of times"/> 
      </div> <!-- close ngFor's div -->
  

    <div>
      <button (click)="addField()">Add Term</button>
      <button (click)="removeField()">Remove Term</button>
    </div>
  </form> 
      <div class="container-narrow-results">


        <div class="narrow-by-author">
          <p><strong id="sub-category-title">Authors</strong></p>
          
            <input id="all-authors-checkbox" type="checkbox" (change) = "checkUncheckAllAuthors($event)" checked/> <strong> {{ docAuthorsStr[0] }} </strong> <br>

            <input id="thomas-carlyle-checkbox" type="checkbox" [(ngModel)] = "authors[1]" checked/> {{ docAuthorsStr[1] }} <br>
            
            <input id="jane-carlyle-checkbox" type="checkbox" [(ngModel)] = "authors[2]" checked/> {{ docAuthorsStr[2] }}  <br>

            <input id="margaret-carlyle-checkbox" type="checkbox" [(ngModel)] = "authors[3]" checked/> {{ docAuthorsStr[3] }}  <br>

            <input id="thomas-and-jane-checkbox" type="checkbox" [(ngModel)] = "authors[4]" checked/> {{ docAuthorsStr[4] }} 
        </div>

       
        <div class="narrow-by-recipient">
          <p class="mb-0"> <strong id="sub-category-title"> Recipients </strong>  </p>
          <div *ngFor="let recipient of recipients; let i = index">
            <input type="search" style="width: 245px; background-color: transparent; border-radius: 3px; border: 1px solid brown;" 
                 placeholder="Susan Stirling"
                 [ngModel]="recipients[i]" 
                 (change)="onValueChange($event, i)"
                />
              <br>
            </div>
 <!--        <button (click)="addRecipient()">Add</button>
            <button (click)="removeRecipient()">Remove</button>
 -->    
            <a href="/index-of-correspondents" target="_blank">Index of Recipients </a>

	    </div>
        <div class="narrow-by-fields">
          <p> <strong id="sub-category-title"> Fields </strong>  </p>

            <input id="all-fields-checkbox" type="checkbox" (change)="checkUncheckAllFields($event)" checked/>  <strong> {{ fieldsStr[0] }} </strong>  <br>
          
            <input id="letter-body-checkbox" type="checkbox" [(ngModel)] = "fields[1]" checked/> {{ fieldsStr[1] }} <br>
            
            <input id="source-note-checkbox" type="checkbox" [(ngModel)] = "fields[2]" checked/> {{ fieldsStr[2] }} <br>

            <input id="footnotes-checkbox" type="checkbox" [(ngModel)] = "fields[3]" checked/> {{ fieldsStr[3] }} <br>
        </div>

        <div class="narrow-by-dates">
          <p class="mb-1"><strong id="sub-category-title"> Time Period </strong></p>
              <label for="start-date"> dated between... </label> <br>
              <input type="search" 
               [(ngModel)] = "dateRange[0]" id="dates-input-box" name="start-date" placeholder="1812"/>  <br>
              <label class="mt-1" for="end-date"> and... </label> <br>
              <input type="search" 
                  [(ngModel)] = "dateRange[1]" id="dates-input-box" name="end-date" placeholder="1881"/> 
          <!--      
                   <br>
                     <label class="mt-1" id="sorting-toggle-label" for="sort-order"> sorted in... </label>
                   <br> 
                    <input type="radio" name=[sortingOrderSelected]/> {{desc}} 
          -->
          </div>
      </div>
      <div class="how-the-search-works">
        <details>  <summary><p> <strong>Example Search</strong></p> </summary>
          <p><strong>Term/Phrase:</strong> Input: the best of times <br>
            <strong>Authors Selected:</strong>Thomas Carlyle, Jane Welsh Carlyle <br>
            <strong>Fields Selected: </strong>
            <strong>Date Range Specified:</strong> 'dated between <em>1862</em> and <em>1873</em>' <br>
            <strong>Letters Retrieved:</strong> This search will retrieve three documents, all of which contain 'the best of times,' in the letter body. You'll see one letter written by Thomas, two by Jane.<br> </p>
        </details>
      </div>
      <div>
        <details>  <summary> <p><strong>Important Hints</strong> </p>  </summary>
           <p><strong>Authors & Recipients: </strong>For each phrase all the authors & recipients chosen are applied to it. If you're searching multiple authors/recipients and multiple terms, the term(s) must be in a document but that document may be written by any of the authors/recipients chosen. Solely selecting 'Thomas & Jane Carlyle,' just returns letters they wrote together. Also, you don't have to search the recipient's full name - typing in 'Thomas' or even 'TC' will return the same results as would be had you written his full name.<br><br>
            <strong>Fields:</strong> As with authors/recipients, each field is applied per search phrase. So if you search a phrase that you know would only show up in a letter's body then, since by default all fields are selected, remember to unselect all others but Letter Body or your search may not return any results. <br><br>
            <strong>Date Range:</strong> The date range is inclusive, constraining by the year during which the letter was sent. <br><br>
           <strong>Results:</strong> If your search contains a date range then the results will be displayed in ascending order by default. <br><br>
            <strong>Isolated Searches:</strong> If you only want to see documents from TC but don't care what the other fields contain then unselect all Field checkboxes. Want only letters recieved by Jane and don't care who sent it? Type in her as recipient, unselect all Authors (doing so will be temporarily necessary as the list of authors is not yet an exhaustive list of all authors in the corpus of letters). <br><br>
            <strong>General Pointers: </strong> As expected, you could either press the Search button or press Enter on your keyboard for the search to work. However, if you've retrieved results from one search and want to search something else, be sure to press Search button this time if you change any selections other than the search phrase(s).</p>
        </details>
      </div>


</div>

<!--

      {{#if volumes}}
          <hr/>
          {{#each volumes}}
              <div class="volume">
                  <div class="title"><span class="label">ID:</span><a href="https://clo.dev.cdhsc.org/volume/{{_id}}/{{letter.xml_id}}" target="_blank">{{letter.xml_id}}</a></div>
                  <div><span class="label">Letter Date:</span> {{letter.docDate}}</div>
                  <div><span class="label">Author:</span> {{letter.docAuthor}}</div>
                  <div><span class="label">Recipient:</span> {{letter.recipient}}</div>
              </div>
              <hr/>
          {{/each}}
      {{else}}
          <div>No data to display.</div>
      {{/if}}

  -->
 <div
  class="container-fluid"
  *ngIf="(searchResults | async) as results; else loading"
  id="content"
>

  <div class="row justify-content-start orange-border-bottom">
    <ul style="list-style-type: none;">
      <li><strong> AND: {{ displayQuery[0] }}</strong></li>
      <li><strong> OR:  {{ displayQuery[1] }}</strong></li>
      <li><strong> NOT: {{ displayQuery[2] }}</strong></li>
    </ul>
  </div>
  <ng-container *ngIf="results.data.length == 0">
    <div class="row justify-content-start pt-2">
      <span>No results found.</span>
    </div>
  </ng-container>
  <ng-container *ngIf="results.data.length > 0">
    <div class="row justify-content-between pt-2">
      <span
        >Displaying {{ start }} - {{ end }} of
        {{ results.data.length }} results.</span
      >
      <ngb-pagination
        [collectionSize]="results.data.length"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [(page)]="page"
        (pageChange)="setPage($event)"
      ></ngb-pagination>
    </div>
    <div
      class="row justify-content-between align-items-center p-2 result"
      *ngFor="let result of (results.data | sortBy:'dsc':results.data.score | slice: start - 1:end)"
    >
      <div class="col-8 p-0">
        <table cellpadding = "10">
          <tr>
            <td id="volResult" white-space: nowrap>
              <span>Volume: </span> {{ result._id }}
            </td>
            <td id="letterResult" white-space: nowrap>
              <span>Letter: </span>
              <a
                routerLink="/volume/{{ result._id }}/{{ result.letter.xml_id }}"
                [queryParams]="{ term: searchTerm }"
                routerLinkActive="active"
                target="_blank"
              >{{ result.letter.xml_id }}</a>
            </td>
            <td id="dateResult" white-space: nowrap>
              <span>Date: </span> {{ result.letter.docDate | date: "longDate" }}
            </td>
          </tr>
          <tr>
            <td id = "letterAuthor" white-space: nowrap>
              <span>Sender: </span> {{ result.letter.docAuthor.toUpperCase() }}
            </td>
            <td id = "letterRecipient">
              <span>Recipient: </span> {{ result.letter.recipient }}
            </td>
            <td id = "letterFootnotes">
              <span>Footnotes: </span>
              <a
              routerLink="/volume/{{ result._id }}/{{ result.letter.xml_id }}#footnoteCollapse"
              routerLinkActive="active">
              Link to Footnotes</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-4 p-auto" id="resultText">
        <a
          data-toggle="collapse"
          href="#{{ result.letter.xml_id }}"
          aria-expanded="false"
          [attr.aria-controls]="result.letter.xml_id"
          style="text-decoration: none;"
        >
          <span>View Letter Content</span>
          <span style="color: #5c8b57 !important;">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
          </span>
        </a>
      </div>
      <div class="col-12">
        <div class="collapse" id="{{ result.letter.xml_id }}">
          <div
            class="viewer-box"
            [innerHtml]="safeHTML(result.letter.docBody)"
          ></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-2">
      <ngb-pagination
        [collectionSize]="results.data.length"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [(page)]="page"
        (pageChange)="setPage($event)"
      ></ngb-pagination>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <div
  *ngIf = "isSearching"
  >
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <img class="loading" src="../../assets/loading.gif" />
    </div>
  </div>
</div> 
</ng-template>
