<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <!-- Header -->
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>The Duke-Edinburgh Edition</h4>
        <app-search></app-search>
      </div>

      <!-- Content -->
      <div class="d-flex flex-row justify-content-start pt-2">
        <div class="d-flex flex-column justify-content-start align-items-start pt-2 w-75">
          <!-- Early Collections -->
          <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#earlyCollections"
            role="button"
            aria-expanded="false"
            aria-controls="earlyCollections"
          >Early Collections</a>

          <div class="collapse" id="earlyCollections">
            <p>
              The letters of Thomas and Jane Welsh Carlyle have always been a
              source of fascination to readers. John Gross, for example, has
              recently claimed that Jane Carlyle is &#8220;unsurpassed among women
              letter-writers for wit and graphic power,&#8221; and he ranks her
              second among all letter-writers of the nineteenth century, surpassed
              only by John Keats (<i>Wall Street Journal</i>, 2 September 2006).
              Gross is not the first scholar to recognize Jane Carlyle&#8217;s
              epistolary skill, one she shared with her husband. In fact,
              long-term recognition of both Carlyles&#8217; letter-writing ability
              is affirmed by an equally long history of prolific collection and
              publication.
            </p>
  
            <p>
              Soon after Jane Carlyle&#8217;s death in 1866, Thomas began calling
              in her correspondence from family and friends, assuaging his grief
              by reading, sorting, and annotating her letters as he prepared his
              <i>Reminiscences</i> (1881). The number of editions of the Carlyle
              letters that appeared in the following years and into the next
              century, from the letters of Carlyle and Emerson to the letters of
              Carlyle and Ruskin to the love letters between Thomas and Jane, is
              simply astonishing.
            </p>
          </div>

          <!-- Genesis -->
          <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#genesis"
            role="button"
            aria-expanded="false"
            aria-controls="genesis"
          >Genesis</a>

          <div class="collapse" id="genesis">
            <p>
              It was not until the mid-twentieth century that a concerted effort
              was undertaken to publish the Carlyle letters in a comprehensive
              edition. In 1952 Charles Richard Sanders (1904&#8211;1998), a
              professor at Duke University who had been interested in Carlyle
              since his undergraduate days, began actively to seek out and to
              collect Carlyle letters. He asked for and received photostats and
              reels of microfilm from numerous university libraries and private
              collections around the world.
            </p>
  
            <p>
              From these facsimiles, the letters were transcribed, typed, and
              stored in folders chronologically. Sanders also cataloged each
              letter on a 3 x 5 index card and created additional cards for
              persons, place-names, titles of books, battles, Scots words, coterie
              speech, and other proper nouns of interest. All of these were
              cross-referenced to their occurrences in individual letters by date
              and recipient. The result was a large and growing database that
              affirmed the immensity of the task at hand.
            </p>
          </div>

          <!-- Duke-Edinburgh -->
          <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#dukeEdinburgh"
            role="button"
            aria-expanded="false"
            aria-controls="dukeEdinburgh"
          >Duke-Edinburgh</a>

          <div class="collapse" id="dukeEdinburgh">
            <p>
              Knowing that a project of such magnitude would require extensive
              cooperation, Sanders made a visit in 1960 to Edinburgh, where he met
              with William Park, keeper of manuscripts, and James S. Ritchie,
              manuscript department, both at the National Library of Scotland, as
              well as John Butt (1906&#8211;1965), Regius Professor of Literature
              at the University of Edinburgh. This group outlined the framework
              for the edition, with Butt agreeing to serve as an editor.
            </p>
  
            <p>
              Tragically, Butt died well before the first volumes were ready for
              publication. Fortunately, Kenneth J. Fielding (1924&#8211;2005), a
              renowned Dickens scholar and the recently appointed George
              Saintsbury Professor of English at the University of Edinburgh,
              offered to help Sanders with the project.
            </p>
  
            <p>
              Before and through this difficult period of transition, the
              processes of transcribing, typing, annotating, and proofreading the
              letters for the now joint project continued unabated, and in 1970
              the first four volumes of the Duke-Edinburgh edition of the
              <i>Collected Letters</i> were published as a boxed set by Duke
              University Press.
            </p>
  
            <p>
              Twenty years after the project had commenced under the general
              editorship of Sanders, the first title page also included Fielding,
              Ian M. Campbell (Edinburgh), John Clubbe (Duke), and Janetta Taylor
              (Edinburgh). Aileen Christianson, who joined the Edinburgh office in
              October 1967, was also a significant participant in the work
              associated with the first four volumes. Also in 1970, Hilary J.
              Smith, listed on the title page from volume 8 and eventually named
              editor for volume 25, began her work in the Duke office.
            </p>
  
            <p>
              Of the other editors associated with the first four volumes, Taylor
              left the project just prior to their publication, and Clubbe
              remained on the title page through volume 9. However, Campbell, who
              began working on the project in October 1964, has remained with the
              edition ever since. Thus both he and Christianson have worked on the
              edition from the first published volumes, and they continue to do so
              now as senior editors.
            </p>
          </div>

          <!-- Current Editorial Teams -->
          <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#editorialTeams"
            role="button"
            aria-expanded="false"
            aria-controls="editorialTeams"
          >Current Editorial Teams</a>

          <div class="collapse" id="editorialTeams">
            <p>
              For many years Fielding, Campbell, and Christianson were the heart
              of the Edinburgh office, with Fielding serving as a senior editor
              and authoring the majority of the introductions for volumes
              13&#8211;30. Also working on the edition during this period was Bill
              Bell, now director of the Centre for the History of the Book at the
              University of Edinburgh. Bell served as assistant editor for volumes
              19&#8211;24. After his departure in 1994, Sheila McIntosh joined the
              Edinburgh team as an assistant editor and then as an editor for
              volumes 29&#8211;35. Along with Campbell and Christianson, Elizabeth
              Sutherland, with the project since 1999 and now editor, Jonathan
              Wild, editor, and Jane Roberts, associate editor, complete the
              current editorial roster in Edinburgh.
            </p>
  
            <p>
              After Sanders&#8217;s retirement as general editor in 1980, Clyde de
              L. Ryals (1928&#8211;1998), a Duke University professor who had made
              his reputation as a Browning and Tennyson scholar, became managing
              editor and then a senior editor, serving for volumes 10&#8211;27.
              After Ryals&#8217;s death in 1998, Duke University Press appointed
              David Southern, his assistant, as managing editor. Also at this
              time, David R. Sorensen, St. Joseph&#8217;s University, replaced
              Ryals as the academic editor representing the Duke office. Sorensen
              continues to serve as a senior editor. In late 2000 Brent E. Kinser,
              Western Carolina University, joined the project as an editorial
              assistant. He now serves as an editor of the print edition and as
              the coordinating editor of the <i>CLO</i>.
            </p>
          </div>

          <!-- Continuing Apace -->
          <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#continuingApace"
            role="button"
            aria-expanded="false"
            aria-controls="continuingApace"
          >Continuing Apace</a>

          <div class="collapse" id="continuingApace">
            <p>
              From its inception in 1952, the Carlyle Letters Project has sought
              to present the correspondence of a marriage and an intellectual
              partnership in such a way that the letters themselves become a lens
              through which one may view many of the most interesting and
              important events and inhabitants of the nineteenth century. With the
              ongoing print version of the <i>Collected Letters</i> now at volume
              40, with volume 41 forthcoming in November 2013, with volume 42 in
              production for publication in November 2014, with perhaps six
              volumes yet to come, and with Duke University Press fully committed
              to the completion of the edition, there is much work being done, and
              there is much work to be done.
            </p>
  
            <p>
              In both Scotland and the United States, the editors continue to work
              diligently to finish the scholarly achievement that Sanders
              envisioned more than a half century ago. New light continues to be
              shed on this remarkable couple and their century; letters continue
              to be checked and rechecked on both sides of the Atlantic;
              previously missing or unknown letters continue to be discovered and
              published; allusions by the Carlyles to obscure family members and
              events of their day continue to be tracked down and documented.
            </p>
  
            <p>
              In other words, progress continues apace toward the completion of
              what Robert Nye has called &#8220;a monumental undertaking&#8221;
              (<i>The Scotsman</i>, 26 July 2003), what A. N. Wilson has called a
              &#8220;great&#8221; edition (<i>The Telegraph</i>, 20 May 2003), and
              what Simon Heffer has called a &#8220;magnificent work in
              progress&#8221; (<i>The Spectator</i>, 24 May 2003).
            </p>
          </div>

          <!-- Further Reading -->
          <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#furtherReading"
            role="button"
            aria-expanded="false"
            aria-controls="furtherReading"
          >Further Reading</a>

          <div class="collapse" id="furtherReading">
            <p>
              For more on the history of the print edition, see the
              <a
                href="http://tundra.csd.sc.edu/clo/content/vol1/#ed-01-introduction"
                >introduction to volumes 1&#8211;4</a
              >; see also Charles Richard Sanders, &#8220;A Brief History of the
              Duke-Edinburgh Edition of the Carlyle Letters,&#8221;
              <i>Studies in Scottish Literature</i> 17 (1982): 1&#8211;12.
            </p>
          </div>

          <!-- Purchasing the Duke-Edinburgh Edition -->
          <a
            class="btn btn-link p-0 aboutButton"
            data-toggle="collapse"
            href="#purchaseEdition"
            role="button"
            aria-expanded="false"
            aria-controls="purchaseEdition"
          >Purchasing the Duke-Edinburgh Edition</a>

          <div class="collapse" id="purchasingEdition">
            <p>
              Print copies of
              <i>The Collected Letters of Thomas and Jane Welsh Carlyle</i> are
              available for ordering at
              <a
                href="https://www.dukeupress.edu/the-collected-letters-of-thomas-and-jane-welsh-carlyle"
                >Duke University Press</a
              >.
            </p>
  
            <p>B.E.K.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
