<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-lg-8 col-sm pr-4">
      <div class="row orange-border-bottom">
        <h4>A Database for an Epoch</h4>
        <div class="thomas-carlye-quote-container">
          <p id="quote"> {{quotes[index_of_quote_to_display] }} </p>
        </div>
        <p>
          Here you will find a perspective on the 19th century like no other,
          through the words of Thomas and Jane Welsh Carlyle. Browse thousands
          of their collected letters by date, by recipient, by subject, and by
          volume. We invite you to experience a correspondence that features
          some of the most influential writers and thinkers of the day.
        </p>
      </div>
      <div class="row pt-2">
        <h4>Welcome to the Carlyle Letters Online</h4>
        <p>
          Duke University Press is proud to present this digital archive based
          on the Duke-Edinburgh edition of The Collected Letters of Thomas and
          Jane Welsh Carlyle. To learn more about the history and development of
          both projects, please read
          <a href="/about-project">The Online Project</a> and
          <a
            href="https://www.dukeupress.edu/the-collected-letters-of-thomas-and-jane-welsh-carlyle"
            >The Printed Edition</a
          >.
        </p>
        <h4>CLO News</h4>
        <p>
          The Carlyle Letters Online is the inspiration for the
          <a
            href="http://vllc.cdhsc.org/"
            alt="Victorian Lives and Letters Consortium VLLC homepage"
            >Victorian Lives and Letters Consortium</a
          >, a not-for-profit organization devoted to creating interactive
          digital archives of life-writing extending from the coronation of
          Queen Victoria to the outbreak of World War I.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-sm">
      <div
        class="d-flex flex-column flex-grow-1 justify-content-start align-items-center"
      >
        <app-search></app-search>
       <!-- <app-twitter></app-twitter> -->
      </div>
    </div>
  </div>
</div>
