#content {
  margin: auto;
  padding-top: 25px;
  width: 80%;
  max-width: 1000px;
  justify-content: center;
}

p {
  font-size: 14px;
}

.thomas-carlyle-quote-container {
  width: 300px;
  height: 75px;
  background-color:rgba(231,225,214,.7333333333333333);
}

p#quote {
  font-size: 18px;
  font-size: italic;
  color:  #6e6e6e;
}
