#content {
  margin: auto;
  padding-top: 25px;
  width: 80%;
  max-width: 1200px;
  justify-content: center;
}

p {
  font-size: 14px;
}

.thomas-carlyle-quote-container {
  margin-left: 5%;
}

p#quote {
  font-size: 22px;
  font-style: italic;
  color:  #6e6e6e;
}

.portrait {
  max-width: 200px;
  max-height: 200px;
}

