<div class="container-fluid" id="content" *ngIf="subjectTerm">
  <div class="row justify-content-between align-items-center p-2">
    <div class="col-8 p-0">
      <table cellpadding = "10">
        <td>
          <tr *ngFor="let subject of (subjectTerm ? subjectTerm.slice(0,10): [])" white-space: nowrap>
            <app-child [subjectTerm]="subjectTerm"></app-child>
            <a routerLink="/subject-letters/{{ subject._id }}">{{ subject._id }}</a>
          </tr>
        </td>
        <td>
          <tr *ngFor="let subject of (subjectTerm ? subjectTerm.slice(10,20): [])" white-space: nowrap>
            <a routerLink="/subject-letters/{{ subject._id }}">{{ subject._id }}</a>
          </tr>
        </td>
        <td>
          <tr *ngFor="let subject of (subjectTerm ? subjectTerm.slice(20,30): [])" white-space: nowrap>
            <a routerLink="/subject-letters/{{ subject._id }}">{{ subject._id }}</a>
          </tr>
        </td>
      </table>
    </div>
  </div>
</div>