<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-lg-12 col-sm">
      <div class="row justify-content-end align-items-center">
        <app-search></app-search>
      </div>
      <div class="row justify-content-start orange-border-bottom">
        <h4>Carlyle Photograph Albums</h4>
      </div>
      <div class="row pt-2">
        <p>
          With the generous support of the Gladys Krieble Delmas Foundation and
          in partnership with the Rare Book and Manuscript Library at Columbia
          University, work is now underway to create a new home for the
          Carlyles’ Family Photo Albums. For now, please enjoy the small sample
          of images currently available.
        </p>
        <div class="col-sm-12 col-xl-6">
          <a class="photoLink p-2" routerLink="/album-viewer/0"
          >Frontispieces of the <i>Duke-Edinburgh Edition</i></a>
          <p class="force-indent">
            This is a special album collecting all of the images from the entire
            run to date of the Duke-Edinburgh Edition of the Carlyle Letters,
            including all frontispieces and all internal images.
          </p>
          <a class="photoLink p-2" routerLink="/album-viewer/1">Album One</a>
          <p class = "force-indent">
            “Tales of the Sun” / photographs by Robert Scott Tait (RST)
            assembled and bound into a presentation album by Geraldine Jewsbury
            (GEJ) / this volume with its laid in addenda includes 39 images /
            the title page is dated 1855, but numerous images are from two years
            later
          </p>
          <a class="photoLink p-2" routerLink="/album-viewer/2">Album Two</a>
          <p class = "force-indent">
            Captioned by TC / &ldquo; These things I mark, mournfully, as a kind
            of duty,&mdash;this ev<i>g</i> Monday 7 Octr 1867&mdash;T.C. &rdquo;
            / this album with its laid-in addenda includes 52 images
          </p>
          <a class="photoLink p-2" routerLink="/album-viewer/3">Album Three</a>
          <p class = "force-indent">
            Captioned by TC / &ldquo;This seems to have been gathered mainly at
            Haddington (in perhaps 1859 &c): I know few of the figures;
            mournfully mark this I do (Monday night, 7 Octr 1869) T.C.&rdquo; /
            &ldquo;x&rdquo; in TC&rsquo;s hand indicates that he was unable to
            identify the figure) / this album includes 44 images
          </p>
        </div>
        <div class="col-sm-11 col-xl-6">
          <a class="photoLink p-2" routerLink="/album-viewer/4">Album Four</a>
          <p class = "force-indent">
            Almost certainly collected and arranged by JWC / many images
            annotated by TC / this album includes 105 images
          </p>
          <a class="photoLink p-2" routerLink="/album-viewer/5">Album Five</a>
          <p class = "force-indent">
            An assorted array, many pictures from TC and JWC&rsquo;s era
            including material possibly removed from their portrait screens,
            other portraits and views collected, assembled, and arranged by
            Alexander Carlyle / this album contains 38 images
          </p>
          <a class="photoLink p-2" routerLink="/album-viewer/6">Album Six</a>
          <p class = "force-indent">
            &ldquo;Personal to Alexander Carlyle, T.C.&rsquo;s nephew. Probably
            done after T.C.&rsquo;s death.&rdquo; / the album generally consists
            of two slots per page; some slots are blank and thus marked, in
            square brackets / this album contains 84 images
          </p>
          <a class="photoLink p-2" routerLink="/album-viewer/7">Album Seven</a>
          <p class = "force-indent">
            &ldquo;Personal to Alexander Carlyle, T.C.&rsquo;s nephew. Probably
            done after T.C&rsquo;s death.&rdquo; / this album contains 140
            images
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
