<div class="d-flex flex-row justify-content-start align-items-between p-2"
id="content">
  <div class="d-flex flex-column justify-content-start align-items-start pt-2 w-75">
    <div class="orange-border-bottom w-100">
      <h4>Carlyle Family Photograph Albums</h4>
    </div>
    <p class="pt-2">With the generous support of the Gladys Krieble Delmas Foundation and in partnership with the Rare Book and Manuscript Library at Columbia University, work is now underway to create a new home for the Carlyles’ Family Photo Albums. For now, please enjoy the small sample of images currently available.</p>
    <div class="d-flex flex-row justify-content-start pt-2 w-100">
      <div class="d-flex flex-column justify-content-start align-items-start pt-2 pr-2 w-50">
        <a class="photoLink p-2" routerLink="/album-viewer/1">Images of the <i>Duke-Edinburgh Edition</i></a>
        <p>This is a special album collecting all of the images from the entire run to date of the Duke-Edinburgh Edition of the Carlyle Letters, including all frontispieces and all internal images.</p>
        <a class="photoLink p-2" routerLink="/album-viewer/2">Album Two</a>
        <p>captioned by TC / &ldquo; These things I mark, mournfully, as a kind of duty,&mdash;this ev<i>g</i> Monday 7 Octr 1867&mdash;T.C. &rdquo; / this album with its laid-in addenda includes 52 images</p>
        <a class="photoLink p-2">Album Three</a>
        <p>captioned by TC / &ldquo;This seems to have been gathered mainly at Haddington (in perhaps 1859 &c): I know few of the figures; mournfully mark this I do (Monday night, 7 Octr 1869) T.C.&rdquo; / &ldquo;x&rdquo; in TC&rsquo;s hand indicates that he was unable to identify the figure) / this album includes 44 images</p>
      </div>
      <div class="d-flex flex-column justify-content-start align-items-start p-2 w-50">
        <a class="photoLink p-2">Album Four</a>
        <p>almost certainly collected and arranged by JWC / many images annotated by TC / this album includes 105 images</p>
        <a class="photoLink p-2">Album Five</a>
        <p>an assorted array, many pictures from TC and JWC&rsquo;s era including material possibly removed from their portrait screens, other portraits and views collected, assembled, and arranged by Alexander Carlyle / this album contains 38 images</p>
        <a class="photoLink p-2">Album Six</a>
        <p>&ldquo;Personal to Alexander Carlyle, T.C.&rsquo;s nephew. Probably done after T.C.&rsquo;s death.&rdquo; / the album generally consists of two slots per page; some slots are blank and thus marked, in square brackets / this album contains 84 images</p>
        <a class="photoLink p-2">Album Seven</a>
        <p>&ldquo;Personal to Alexander Carlyle, T.C.&rsquo;s nephew. Probably done after T.C&rsquo;s death.&rdquo; / this album contains 140 images</p>
      </div>
    </div>
  </div>
</div>
