<ng-container *ngIf="hasManuscript; else normalContainer">
  <div class="container-fluid" id="manuscriptContent">
    <div class="row flex-column-reverse flex-xl-row">
      <div class="col-12 col-xl-10">
        <div class="row justify-content-around">

          <app-volume-toc
            *ngIf="letters"
            [volId]="volumeId"
            [prevId]="prevVolumeId"
            [nextId]="nextVolumeId"
            [volumeDates]="volumeDates"
            [keys]="volumeKeys"
            [letters]="letters"
            [accounts]="accounts"
            (fronticeClicked)="goToFront($event)"
            (idChanged)="goToVolume($event)"
            (contentChanged)="setPage($event)"
            (letterChanged)="cycleLetter($event)"
            (accountChanged)="cycleLetter($event)"
            (letterCycle)="cycleLetter($event)"
          ></app-volume-toc>

          <div class="col-12 col-xl-9" id="manuscriptAndLetter">
          <div>
          <div id="manuscriptViewer">
            <ul>
              <li *ngFor="let url of manuscriptUrl">
                <img src="../../assets/rotate.png" id="rotateButton" (click)="rotate()">
                <lib-ngx-image-zoom *ngIf="degreesRotated==0" id="manuscriptImage" style="color:black" [thumbImage]="url" [zoomMode]="'click'" [enableLens]="true" [lensWidth]="200" [lensHeight]="200" [circularLens]="true">
                </lib-ngx-image-zoom>
                <img *ngIf="degreesRotated==90" id="rotated90" src="{{ url }}">
                <img *ngIf="degreesRotated==180" id="rotated180" src="{{ url }}">
                <img *ngIf="degreesRotated==270" id="rotated270" src="{{ url }}">
              </li>
            </ul>
          </div>
          <div id="imageButtons">
          <p *ngIf="degreesRotated==0">Click to zoom</p>
          </div>
          </div>

          <app-volume-viewer id="letterContent"
            *ngIf="volume"
            [viewContent]="viewContent"
            [volId]="volumeId"
            [prevLetter]="prevLetterId"
            [nextLetter]="nextLetterId"
            [isFrontice]="isFrontice"
            [sourceNote]="sourceNote"
            [footnotes]="footnotes"
            (letterChanged)="cycleLetter($event)"
            (accountChanged)="cycleLetter($event)"
            (letterCycle)="cycleLetter($event)"
          ></app-volume-viewer>
          </div>

       </div>
      </div>
      <div class="col-12 col-xl-2">
        <div class="row justify-content-center m-auto">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #normalContainer>
  <div class="container-fluid" id="content">
    <div class="row flex-column-reverse flex-xl-row">
      <div class="col-12 col-xl-10">
        <div class="row justify-content-around">
          <app-volume-toc
            *ngIf="letters"
            [volId]="volumeId"
            [prevId]="prevVolumeId"
            [nextId]="nextVolumeId"
            [volumeDates]="volumeDates"
            [keys]="volumeKeys"
            [letters]="letters"
            [accounts]="accounts"
            (fronticeClicked)="goToFront($event)"
            (idChanged)="goToVolume($event)"
            (contentChanged)="setPage($event)"
            (letterChanged)="cycleLetter($event)"
            (accountChanged)="cycleLetter($event)"
            (letterCycle)="cycleLetter($event)"
          ></app-volume-toc>
          <app-volume-viewer id="letterNoManuscript"
            *ngIf="volume"
            [viewContent]="viewContent"
            [volId]="volumeId"
            [prevLetter]="prevLetterId"
            [nextLetter]="nextLetterId"
            [isFrontice]="isFrontice"
            [sourceNote]="sourceNote"
            [footnotes]="footnotes"
            (letterChanged)="cycleLetter($event)"
            (accountChanged)="cycleLetter($event)"
            (letterCycle)="cycleLetter($event)"
          ></app-volume-viewer>
        </div>
      </div>
      <div class="col-12 col-xl-2">
        <div class="row justify-content-center m-auto">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
</ng-template>
