#content {
  margin: auto;
  padding-top: 25px;
  width: 100%;
  max-width: 1200px;
}

#manuscriptContent {
  margin: auto;
  padding-top: 25px;
  width: 100%;
}

#manuscriptAndLetter {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  column-gap: 20px;
}

#letterContent {
  flex: 1 1 auto;
  width: 60%;
}

#letterNoManuscript {
  width: 600px;
}

#manuscriptViewer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  border: 1px solid #21596f;
  border-radius: 10px;
  background: #f5ecdc;
  font-size: 16px;
  color: #21596f;
  overflow-y: scroll;
}

#manuscriptImage {
  width: 100%;
  height:625px;
}

#rotated90 {
  width: 100%;
  height:625px;
  transform: rotate(90deg);
}

#rotated180 {
  width: 100%;
  height:625px;
  transform: rotate(180deg);
}

#rotated270 {
  width: 100%;
  height:625px;
  transform: rotate(270deg);
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::ng-deep .ngxImageZoomContainer > img {
  width: 100% !important;
}

.rotated90 > ::ng-deep .ngxImageZoomContainer{
  transform: rotate(90deg);
}

.rotated180 > ::ng-deep .ngxImageZoomContainer{
  transform: rotate(180deg);
}

.rotated270 > ::ng-deep .ngxImageZoomContainer{
  transform: rotate(270deg);
}

p {
  font-style: italic;
}

#rotateButton {
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 5px;
  z-index: 2;
  background-color: #f7f7f5;
  opacity: 0.7;
  position: absolute;
  height: 30px;
}

#imageButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*
#viewer {
  margin: 0px 40px;
  width: 35%;
  height: 750px;
  border: 1px solid #21596f;
  border-radius: 10px;
  background: #F5ECDC;
  padding: 0 15px;
  font-size: 16px;
  color: #21596f;
  overflow: auto;
}

#fronticePiece {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fronticeContent {
  padding: 10px;
}

#viewerContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#fronticeCaption {
  margin-top: 20px;
}

#manuscript {
  height: 750px;
  width: auto;
}

#letters {
  width: 100%;
} */
