<div class="container" id="content">
<h1>Index of Recipients</h1>
<strong><p>*** This page is currently under development. ***</p> </strong>
<!--
 ents() method returns key value pairs
<details *ngFor="let correspondent of correspondentsMap.entries(); index as i;">
    <summary> <h2>{{ correspondent[0] }} </h2> </summary>
    <ul>
        get() returns the value associated with particular key, which are arrays here
        <li *ngFor="let aCorrespondent of correspondent[1]; index as j">
            <p>
            {{ aCorrespondent[j] }}
            </p>
        </li>
    </ul>
</details>
-->

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseA"
    role="button"
    aria-expanded="false"
    aria-controls="collapseA"
    >
    A
</a>
<div class="collapse" id="collapseA">
    <ul>
        <li>Aitken, James</li>
        <li>Aitken, Jean Carlyle</li>
        <li>Aitken, Mary</li>
        <li>Alexander, Rev. Thomas</li>
        <li>Althaus, Friedrich</li>
        <li>Anderson, Frederick</li>
        <li>Appleton, Charles</li>
        <li>Ashburton, Lady</li>
        <li>Austin, Mary</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseB"
    role="button"
    aria-expanded="false"
    aria-controls="collapseB"
    >
    B
</a>
<div class="collapse" id="collapseB">
    <ul>
        <li>Bowie, Henry</li>
        <li>Braid, Betty</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseC"
    role="button"
    aria-expanded="false"
    aria-controls="collapseC"
    >
    C
</a>
<div class="collapse" id="collapseC">
    <ul>
        <li>Carlyle, Alexander</li>
        <li>Carlyle, Dr. John A.</li>
        <li>Chapman, Frederic</li>
        <li>Craik, Mary</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseD"
    role="button"
    aria-expanded="false"
    aria-controls="collapseD"
    >
    D
</a>
<div class="collapse" id="collapseD">
    <ul>
        <li>Davidson, David</li>
        <li>Deane, Charles</li>
        <li>Denovan, William</li>
        <li>Dinwoodie, Isabella</li>
        <li>Dixon, Thomas</li>
        <li>Douglas, J. D.</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseE"
    role="button"
    aria-expanded="false"
    aria-controls="collapseE"
    >
    E
</a>
<div class="collapse" id="collapseE">
    <ul>
        <li>Emerson, Ralph Waldo</li>
        <li>Erskine, Thomas</li>
        <li>Eyre, Edward John</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseF"
    role="button"
    aria-expanded="false"
    aria-controls="collapseF"
    >
    F
</a>
<div class="collapse" id="collapseF">
    <ul>
        <li>FitzGerald, Edward</li>
        <li>Forster, John</li>
        <li>Fraser, William</li>
        <li>Froude, James A.</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseG"
    role="button"
    aria-expanded="false"
    aria-controls="collapseG"
    >
    G
</a>
<div class="collapse" id="collapseG">
    <ul>
        <li>Grant, James</li>
        <li>Grey, Sir George</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseH"
    role="button"
    aria-expanded="false"
    aria-controls="collapseH"
    >
    H
</a>
<div class="collapse" id="collapseH">
    <ul>
        <li>Harrison, Robert</li>
        <li>Helps, Arthur</li>
        <li>Henderson, Joseph</li>
        <li>Henshaw, Maria Ann</li>
        <li>Hunter, John Kelso</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseK"
    role="button"
    aria-expanded="false"
    aria-controls="collapseK"
    >
    K
</a>
<div class="collapse" id="collapseK">
    <ul>
        <li>Kemp, Thomas</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseL"
    role="button"
    aria-expanded="false"
    aria-controls="collapseL"
    >
    L
</a>
<div class="collapse" id="collapseL">
    <ul>
        <li>Lowell, Josephine Shaw</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseM"
    role="button"
    aria-expanded="false"
    aria-controls="collapseM"
    >
    M
</a>
<div class="collapse" id="collapseM">
    <ul>
        <li>Mackenzie, K.R.H.</li>
        <li>Macmillan, Alexander</li>
        <li>Maxwell, Sir William Stirling</li>
        <li>McTurk, Isabella</li>
        <li>Mill, John Stuart</li>
        <li>Murchison, Dr. Charles</li>
        <li>Murray, Sir Charles A.</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseN"
    role="button"
    aria-expanded="false"
    aria-controls="collapseN"
    >
    N
</a>
<div class="collapse" id="collapseN">
    <ul>
        <li>Norton, Charles Eliot</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseO"
    role="button"
    aria-expanded="false"
    aria-controls="collapseO"
    >
    O
</a>
<div class="collapse" id="collapseO">
    <ul>
        <li>Oliphant, Margaret</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseP"
    role="button"
    aria-expanded="false"
    aria-controls="collapseP"
    >
    P
</a>
<div class="collapse" id="collapseP">
    <ul>
        <li>Piérart, Zéphyr-Joseph</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseR"
    role="button"
    aria-expanded="false"
    aria-controls="collapseR"
    >
    R
</a>
<div class="collapse" id="collapseR">
    <ul>
        <li>Randolph, Richard</li>
        <li>Robson, Charles</li>
        <li>Ruskin, John</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseS"
    role="button"
    aria-expanded="false"
    aria-controls="collapseS"
    >
    S
</a>
<div class="collapse" id="collapseS">
    <ul>
        <li>Shepherd, Richard Herne</li>
        <li>Simmonds, Isabella</li>
        <li>Spring, Rebecca</li>
        <li>Sterling, Edward C.</li>
        <li>Sterling, Kate</li>
        <li>Sterling, Sir Anthony C.</li>
        <li>Stodart, John R.</li>
        <li>Syme, James</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseT"
    role="button"
    aria-expanded="false"
    aria-controls="collapseT"
    >
    T
</a>
<div class="collapse" id="collapseT">
    <ul>
        <li>Tait, Robert S.</li>
        <li>Tennyson, Alfred</li>
        <li>Tommy, George</li>
        <li>Tyndall, John</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseU"
    role="button"
    aria-expanded="false"
    aria-controls="collapseU"
    >
    U
</a>
<div class="collapse" id="collapseU">
    <ul>
        <li>Usher, Thomas</li>
    </ul>
</div>

<a
    class="btn btn-link p-0 letterButton"
    data-toggle="collapse"
    href="#collapseW"
    role="button"
    aria-expanded="false"
    aria-controls="collapseW"
    >
    W
</a>
<div class="collapse" id="collapseW">
    <ul>
        <li>Ward, Charles A.</li>
        <li>Wilson, Daniel</li>
        <li>Woolner, Thomas</li>
    </ul>
</div>