<div class="container" id="content">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="row justify-content-between align-items-end orange-border-bottom">
        <h4>Carlyle Family Photograph Albums</h4>
        <app-search></app-search>
      </div>
      <div class="d-flex flex-row justify-content-start pt-2">
        <div
          class="d-flex flex-column justify-content-start align-items-start pt-2 w-100"
        >
          <p class="big">
            With the generous support of the Gladys Krieble Delmas Foundation
            and in partnership with the Rare Book and Manuscript Library at
            Columbia University, the Carlyle Letters Online team is creating a
            collection of digital images to accompany the letters. A first small
            sample of these is a
            <a href="http://www.cdhsc.org/clo/content/alb1/">
              <u
                >collection of all of the images from the volumes of the
                Duke-Edinburgh print edition of the Carlyle Letters.</u
              ></a
            >
          </p>
          <br />
          <p class="big">
            To follow soon will be digital images of the Carlyles’ Family Photo
            Albums.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
